@import './common';

.block {
  position: relative;
  width: 100%;
  height: min-content;
  margin: {
    top:1rem;
    bottom:1px;
  }
}
.block , 
.blockFn button {
  font-size: 1rem;
  line-height: 24px;
}
.blockFn {
  button{
    color:$itemSvg;
    font : {
      size: 1.2rem;
      weight:bolder;
    }
  }
}
.blockFn button,
.toggle.block .left {
  &:hover{
    background-color: $lightMud;
  }
}
.contentEditable {
  font : {
    size: inherit
  }
  &:focus-visible{
    outline: none;
  }
}

.h1.block{
  margin-top: 32px;
  font : {
    size: 40px;
    weight:700;
  }
}
.h2.block{
  margin-top: 22.4px;
  font : {
    size: 24px;
    weight:600;
  }
}
.h3.block{
  font : {
    size: 1rem;
  }
}
.text.block{
  margin-top:2px;
}
.todo.block, 
.toggle.block ,
.page.block {
  display: flex;
  align-items: center;
  .left {
    margin-right: 4px;
    font-size: 17px;
  }
  svg{
    font-size: inherit;
  }
}

.toggle.block{
  button{
    display: flex;
    align-items: center;
    color:$itemSvg ;
  }
}
