@import './common';

.editableBlock {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min-content;
  margin: {
    top:1rem;
    bottom:1px;
  }
  display: flex;
  flex-direction: column;
  div{
    width: 100%;
  }
  .list_marker ,
  .commentsBubble{
    width: fit-content;
  }
}

.mainBlock{
  display: flex;
  justify-content: space-between;
  .mainBlock_block{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  width: 100%;
}
.mainBlock.on{
  border-top:  1px solid $turkeyBlue;
}
.subBlocks{
  padding:0;
  padding-left: 20px;
}
[contenteditable] {
  outline: 0px solid transparent;
}
.editableBlock , 
.blockFn button {
  font-size: inherit;
  line-height: inherit;
}

.blockFn {
  display: none;
}
.blockFn.on {
  display: flex;
  position: absolute;
  padding-right:5px;
  z-index: 5;
  .blockFnIcon{
    svg{
      color:$itemSvg;
    }
    
    font : {
      size: 1.2rem;
      weight:bolder;
    }
  }
}

.blockFn button,
.toggle.block .left {
  &:hover{
    background-color: $itemHover;
  }
}
.contentEditable {
  width:100%;
  white-space: normal;
  word-break:break-all;
  overflow: hidden;
  font : {
    size: inherit
  }
  &:focus-visible{
    outline: none;
  }
}
.contentEditable:empty::after{
  content: attr(placeholder);
  color: $mud;
}
.h1 .mainBlock .contentEditable, 
.h2 .mainBlock .contentEditable,
.h3 .mainBlock .contentEditable{
  font-weight: 500;
}

.text.block{
  margin-top:2px;
}
.left , .blockContents , .blockFn {
  height: 18px;
}
.todo.block, 
.toggle.block ,
.page.block {
  .left {
    width: 18px;
    margin-right: 4px;
    font-size: 15px;
  }
  svg {
    width: inherit;
    height: inherit;
    font-size: inherit;
  }
}
.page.block {
  .pageIcon,img{
    width: 18px;
    height: 18px;
  }
  .pageIcon span{
    width :inherit;
    height: inherit;
  }
  .blockContents{
    display: flex;
    align-items: center;
  }
}
.todo.done.block{
  path{
    stroke:grey
  }
}
.toggle.block{
  button{
    display: flex;
    align-items: center;
    color:$itemSvg ;
  }
  .subBlocks{
    display: none;
  }
}
.toggle.on.block{
  .subBlocks{
    display: block;
  }
}

.list {
  display: flex;
  .list_marker{
    padding-right: 8px;
    svg{
      font-size: 11px;
    }
  }
}
.blockToggleBtn {
  svg{
    transform: rotate(0deg);
  }
}
.blockToggleBtn.on{
  svg{
    transform: rotate(90deg);
  }
}
.media.block .mainBlock_block{
  display: flex;
  align-items: center;
  justify-content: center;
}
.media_blockComponent{
  width: 100%;
  height: 100%;

}
.blockContents{
  width: 100%;
  height: fit-content;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.addBlockFile{
  width: 100%;
  padding: 12px  ;
  background-color: $pistachioshell;
  color: $itemText;
  cursor:pointer;
  display: flex;
  align-items: center;
  &:hover{
    background-color: $itemHover;
  }
  span {
    margin-right: 6px;
    text-align: center;
    height: 1.2rem;
    font-size: inherit;
  }
  svg{
    font-size: 1.2rem;
  }
}
.contents input{
  border:none;
  width: 100%;
  &:focus{
    outline: none
  }
}
.contents.commentBtn {
  color:inherit;
  text-decoration: inherit;
  font : {
    size: inherit;
    weight: inherit
  }
  background-color: $comment;
  border-bottom: 2px solid $commentHover;
  &:hover{
    background-color: $commentHover;
  }
}
.commentsBubble .commentBtn{
  display: flex;
  padding:3px;
  &:hover{
    background-color: $itemHover; 
  }
  svg,span{
    color: $itemSvg;
  }
}
  