@import './common';
#blockStyler{
  position: absolute;
  @include popupMenu;
  height: 32px;
  border-radius: 5px ;
  width: fit-content;
  overflow-x: scroll;
  .inner{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .btn{
    height: 100%;
    padding:0 8px;
    transition: backgroundColor 20ms ease-in 0s;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    &:hover{
      background-color: $itemHover;
    }
  }
  #commandBlock{
    display: flex;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 50;
  }
  .linkBtn{
    svg:first-child{
      margin-right: 4px;
    }
  }
  .commentBtn{
    svg:first-child{
      margin-right: 4px;
    }
  }
  .styles{
    display: flex;
  }
  .boldBtn{
    font-weight: bolder;
  }
  .italicBtn{
    font-style: italic;
  }
  .underlineBtn{
    text-decoration: underline;
  }
  .lineThroughBtn{
    text-decoration: line-through;
  }
  .colorBtn{
    .btn{
      font-weight: bolder;
    }
  }

  .arrowDown{
    color:$mud;
    margin-left: 3px;
  }
}
#blockStylerColor{
  position: absolute;
  z-index: 30
}

#mobileBlockMenu {
  #blockStyler{
    position: relative;
    width: 100%;
    overflow: hidden;
    svg{
      font-size: 14px;
      margin: 0;
    }
    .typeBtn{
      display: none;
    }
    .commentBtn span{
      display: none;
    }
    .commentBtn , 
    .menuBtn {
      padding: 0;
      text-align: center;
    }
  }
}