@import './common';

.editableBlock {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min-content;
  margin: {
    top:1rem;
    bottom:1px;
  }
  display: flex;
  flex-direction: column;
  padding: 0 calc(96px);
}
.mainBlock{
  display: flex;
  justify-content: space-between;
  .mainBlock_block{
    display: flex;
    width: 100%;
    position: relative;
  }
  width: 100%;
}

.subBlocks .editableBlock{
  padding:0;
  padding-left: 20px;
}
[contenteditable] {
  outline: 0px solid transparent;
}
.editableBlock , 
.blockFn button {
  font-size: 1rem;
  line-height: 24px;
}

.blockFn {
  display: none;
}
.blockFn.on {
  display: flex;
  position: absolute;
  padding-right:3rem;
  .blockFnIcon{
    svg{
      color:$itemSvg;
    }
    
    font : {
      size: 1.2rem;
      weight:bolder;
    }
  }
}

.blockFn button,
.toggle.block .left {
  &:hover{
    background-color: $lightMud;
  }
}
.contentEditable {
  font : {
    size: inherit
  }
  &:focus-visible{
    outline: none;
  }
}
.h1.block{
  margin-top: 32px;
  font : {
    size: 40px;
    weight:700;
  }
}
.h2.block{
  margin-top: 22.4px;
  font : {
    size: 24px;
    weight:600;
  }
}
.h3.block{
  font : {
    size: 1rem;
  }
}
.text.block{
  margin-top:2px;
}
.todo.block, 
.toggle.block ,
.page.block {
  .left {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    font-size: 17px;
  }
  svg {
    width: inherit;
    height: inherit;
    font-size: inherit;
  }
}
.toggle.block{
  button{
    display: flex;
    align-items: center;
    color:$itemSvg ;
  }
  .subBlocks{
    display: none;
  }
}
.toggle.on.block{
  .subBlocks{
    display: block;
  }
}

.list {
  display: flex;
  .list_marker{
    padding-right: 8px;
    svg{
      font-size: 11px;
    }
  }
}
.blockToggleBtn {
  svg{
    transform: rotate(0deg);
  }
}
.blockToggleBtn.on{
  svg{
    transform: rotate(90deg);
  }
}
.blockContents{
  width: 100%;
  height: fit-content;
  padding:1% 0;
  text-align: left;
  display: flex;
  align-items: flex-end;
  .contents.commentBtn {
    color:inherit;
    text-decoration: inherit;
    font : {
      size: inherit;
      weight: inherit
    }
    background-color: $comment;
    border-bottom: 2px solid $commentHover;
    &:hover{
      background-color: $commentHover;
    }
  }
  .contents:empty::after{
    content: attr(placeholder);
    color: $mud;
  }
}

.commentBtn.btnIcon{
  svg,span{
    color: $itemSvg;
  }
}
#commandBlock{

  @include popupMenu;
  &_inner {
    padding: 5px;
    height: 350px;
  }
  .command > header{
    padding:0 14px;
    margin: {
      top: 6px;
      bottom:  8px;
    }
    color: rgba(55, 53, 47, 0.65);
    font : {
      size: 11px;
      weight: 500
    }
    line-height: 120%;
    user-select: none;
    text-transform: uppercase;
  }

  .command_btn {
    display: none;
  }
  .command_btn.on {
    display: block;
    width: 100%;
    padding: 2% 0; 
    border-radius: 3px;
     // transition: background 20ms ease-in 0s;
    &:hover{
      background-color: rgba(55, 53, 47, 0.08);
    }
  }
  .command_btn.on.first{
    background-color:rgba(55, 53, 47, 0.08);
  };
  
  .command_btn_inner{
    display: flex;
    margin:0 1% ;
  }
  .command_btn_left{
    width: 38px;
    height: 38px;
    padding: 7px;
    font-size: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid $lightMud;
    border-radius: 3px;
  }
  .headerType {
    display: flex;
    span:first-child{
      font-size: 20px;
    }
    span:last-child {
      font-size: 14px;
      font-weight: 600;
      padding-top: 30%;
    }
  }
  .command_btn_right{
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 10px;
    header , .command_explanation {
      text-align: left
    };
    header {
      font-size: 14px;
    }
    .command_explanation{
      padding-top:3px ;
      font-size: 12px;
      color:rgba(55, 53, 47, 0.65);
    }
  }
  .no_result {
    color: rgba(55, 53, 47, 0.65);
    padding: 2% 10%;
    height: fit-content;
  }

}
