@import './common';
#blockStyler{
  position: absolute;
  @include popupMenu;
  height: 32px;
  border-radius: 5px ;
  width: fit-content;
  .inner{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .btn{
    width: 100%;
    height: 100%;
    padding:0 8px;
    transition: backgroundColor 20ms ease-in 0s;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    &:hover{
      background-color: $itemHover;
    }
  }
  .typeBtn{
    #commandBlock{
      display: none;
    }
  }
  .typeBtn.on{
    #commandBlock{
      display: flex;
    }
  }
  .linkBtn{
    .linkLoader{
      display: none;
    }
    svg:first-child{
      margin-right: 4px;
    }
  }
  .linkBtn.on{
    .linkLoader{
      display: flex;
    }
  }
  .commentBtn{
    svg:first-child{
      margin-right: 4px;
    }
  }
  .styles{
    display: flex;
  }
  .boldBtn{
    font-weight: bolder;
  }
  .italicBtn{
    font-style: italic;
  }
  .underlineBtn{
    text-decoration: underline;
  }
  .lineThroughBtn{
    text-decoration: line-through;
  }
  .colorBtn{
    .menu_color{
      display: none;
    }
    .btn{
      font-weight: bolder;
    }
  }
  .colorBtn.on{
    .menu_color{
      display: flex;
    }
  }
  .menuBtn{
    .menu{
      display: none;
    }
  }
  .menuBtn.on{
    .menu{
      display: flex;
    }
  }
  .arrowDown{
    color:$mud;
    margin-left: 3px;
  }
}