@mixin initialBtn {
  border:none;
  background-color:transparent;
  padding:0
};

$pistachioshell :#F7F6F3 ;
$mud:#B9B8B6;
$lightMud:#d6d6d6;
$brightMud:rgba(242, 241, 238, 0.6);;
$itemSvg:#a3a3a2;
$itemText: rgba(55, 53, 47, 0.65);
$itemHover:rgba(49, 45, 33, 0.11);

@mixin webkitScroll {
  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb{
    background-color:  #D3D1CB;;
  }
  &::-webkit-scrollbar-track{
    background-color: #edece9;
  }
} ;

@mixin popUpMenu {
  width:320px ;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  transform: matrix(1,0,0,1,0,0);
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab; 
  box-shadow: 0px 0px 23px -5px #ababab;
  
  &::-webkit-scrollbar-thumb {
    background: #D3D1CB;
  }
  &::-webkit-scrollbar-track{
    background: #EDECE9;
  }
}
div {
  box-sizing: border-box;
}
.pageLink {
  &:hover{
    background-color: $itemHover;
  }
}

button {
  @include initialBtn
}
ul,
ol{
  margin: 0;
  padding:0;
  padding-left: 1rem;
  li {
    padding-left: 10px;
  }
}

a:link ,a:active ,a:visited {
  text-decoration: none;
  color: inherit
}

