@import './common';

#popupMenu .comments {
  @include popupMenu;
  z-index: 10;
  padding: 3%;
  width: calc(100vw - (96*2)px - 6%);
  .firstLetter{
    border-radius: 50%;
    border :1px solid $itemText;
    color: $itemText;
    height: 24px;
    width: 24px;
    font-size: 1rem;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.commentInput {
  display: flex;
  width: 94%;
  height: 24px;
  form{
    flex-grow: 1;
    flex-shrink: 1;
    height: inherit;
    width: calc( 100% - 24px);
    position: relative;
    }
    input[type="text"]{
      padding: 0;
      height: 100%;
      position: absolute;
      top:0;
      width: 80%;
      margin-left:5px;
    }
    #commentInputSubmit{
      position: absolute;
      top:0;
      left: 80%
    }
    .commentText{
      border: none;
      &:focus{
        outline:  none;
      }
    }

  }
