@import './common';
#block_commandBlock {
  position: absolute;
  z-index: 20;
  #commandBlock{
    margin-top: 0;
    z-index:inherit;
  }
}
#commandBlock{
  @include modalStyle;
  @include webkitScroll;
  overflow-y: scroll;
  margin-top: 1rem;
  &_inner {
    position: relative;
  }
  .command div{
    z-index: 30;
    button {
      z-index: 30;
    }
  }
  .command > header{
    padding:0 14px;
    margin: {
      top: 6px;
      bottom:  8px;
    }
    color: rgba(55, 53, 47, 0.65);
    font : {
      size: 11px;
      weight: 500
    }
    line-height: 120%;
    user-select: none;
    text-transform: uppercase;
  }
  .command_btns{
    padding: 5px;
  }
  .command_btn {
    display: none;
    width: 100%;
    padding: 2% 0; 
    border-radius: 3px;
    &:hover{
      background-color: rgba(55, 53, 47, 0.08);
      transition: backgroundColor 20ms ease-in 0s;
    }
  }
  .command_btn.on {
    display: block;

  }
  .command_btn.on.first{
    background-color:rgba(55, 53, 47, 0.08);
  };
  
  .command_btn_inner{
    display: flex;
    margin:0 1% ;
  }
  .command_btn_left{
    width: 38px;
    height: 38px;
    padding: 7px;
    font-size: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid $lightMud;
    border-radius: 3px;
    img{
      width:100%;
      height: 100%
    }
  }
  .media_blocks{
    border-top: 1px solid $itemSvg;
    .command_btn_left {
      padding:0
    }
  } 
  .headerType {
    display: flex;
    span:first-child{
      font-size: 20px;
    }
    span:last-child {
      font-size: 14px;
      font-weight: 600;
      padding-top: 30%;
    }
  }
  .command_btn_right{
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 10px;
    header , .command_explanation {
      text-align: left
    };
    header {
      font-size: 14px;
    }
    .command_explanation{
      padding-top:3px ;
      font-size: 12px;
      color:rgba(55, 53, 47, 0.65);
    }
  }
}
#commandBlock_noResult{
  display: none;
  color: rgba(55, 53, 47, 0.65);
  padding: 2% 10%;
  height: fit-content;
}
