@mixin initialBtn {
  border:none;
  background-color:transparent;
  padding:0
};

$pistachioshell :#F7F6F3 ;
$mud:#B9B8B6;
$lightMud:#d6d6d6;
$itemSvg:#a3a3a2;
$itemText: rgba(55, 53, 47, 0.65);
$itemHover:rgba(49, 45, 33, 0.11);

.pageLink {
  &:hover{
    background-color: $itemHover;
  }
}

button {
  @include initialBtn
}
ul{
  margin: 0;
  padding:0
}
li{
  list-style: none;
}
a:link ,a:active ,a:visited {
  text-decoration: none;
  color: inherit
}

