@import './common';

.blockId_comments{
  .comments{
    display: none;
  }
}
.blockId_comments.open {
  z-index: 5;

  .comments{
  display: flex;
  flex-direction: column;

  }
  .commentBtn.btnIcon{
    display: none
  }
}
.commentBlock, .commentInput{
  .firstLetter {
    border-radius: 50%;
    border :1px solid black;
    color: black;
    aspect-ratio: 1;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    font : {
      size:1rem ;
      weight: initial;
    }
    width:24px;
    height: 24px;
  }
}
#comments {
  position: absolute;
  @include popupMenu;
  z-index: 10;
}
#commentsInner {
  position: relative;
}
.commentType{
  border-bottom: 1px solid $lightMud;
  padding: 0 5%; 
  display: flex;
  button{
    height: 100%;
    margin: 10px 5px; 
  }
}
.comment {
  padding: 5%;
  border-top: 1px solid $lightMud;
  .commentInput{
    padding: 0;
    width: 100%;
  }
}
.comment:first-child{
  border-top: none;
}
.commentBlock{
  section {
    margin-bottom: 10px;
  }
  .comment_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    .information {
      display:flex ;
      flex-direction: row;
      font-size: 1rem;
    }
    .userName{
      margin: 0 10px;
      font-weight: bold;
    }
    .time{
      margin:0;
      color: $itemSvg;
      font-size: 13px;
      display: flex;
      align-items: center;
    }
    .tool{
      display: flex;
      align-content: center;
      border: 1px solid $itemSvg;
      border-radius: 2px;
      button{
        color:$itemSvg;
        height:24px ;
        padding: 3px;
        box-sizing: border-box;
        display: flex;
        align-content: center;
        svg{
          font : {
            size: 1.1rem;
            weight: bolder;
          }
        }
      }
      .resolveTool {
        border-right: 1px solid $itemSvg;
      }
    }
  }
  .comment_block, .comment_content{
    margin-left: 34px;
  }
  .comment_block{
    height: fit-content;
    display: flex;
    color: $itemText
  }
  .comment_block_line{
    width: 3px;
    border-radius: 3px;
    margin : {
      left: 2px;
      right: 8px;
    };
    flex-shrink: 0;
    padding-bottom: 2px;
    background: rgba(255, 212, 0, 0.8);
  } 
  .tool {
    button{

      &:hover{
        background-color: $itemHover;
        color:black
      }
    }
  }
  .moreTool{
    position: relative;
  }
}
#popupMenu{
  padding: 2%;
  @include popupMenu;
  .commentInput{
    flex-direction: row;
  }
}
.commentInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 24px;
  form{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    height: inherit;
    position: relative;
    width: calc( 100% - 24px);
    box-sizing: border-box
    }
    input[type="text"]{
      @include searchInput;
      background-color: initial;
      border: none;
      padding: 0;
      height: 100%;
      width: 90%;
      margin: 0 2.5%;
    }
    .commentText{
      &:focus{
        outline:  none;
      }
    }
  }
#tool_more{
  @include popupMenu;
  width: 200px;
  z-index: 15;
  button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16.8px;
    min-height: 28px;
    &:hover{
      background-color: $itemHover;
    }
    svg{
      width: 18px;
      height: inherit;
      font-weight: lighter;
    }
    span{
      margin: {
        left: 6px;
      };
    }
  }
  .aboutComments{
    color: $itemText;
    font-size: 13px;
    border-top: 1px solid $lightMud;
  }
}