@mixin initialBtn {
  border:none;
  background-color:transparent;
  padding:0
};

$pistachioshell :#F7F6F3 ;
$mud:#B9B8B6;
$lightMud:#d6d6d6;
$brightMud:rgba(242, 241, 238, 0.6);;
$itemSvg:#a3a3a2;
$itemText: rgba(55, 53, 47, 0.65);
$itemHover:rgba(49, 45, 33, 0.11);
$commentHover: rgba(255, 212, 0, 0.8);
$comment:rgba(255,212,0,0.14);
@mixin searchInput {
  width:90%;
  height: 1.5rem;
  font-size: 15px;
  padding-left: 6px;
  color: $itemText;
  &::placeholder{
    color: $mud;
  }
  &:focus{
    box-sizing: border-box;
    outline: 3.5px solid rgb(169, 226, 245);
    border:none;
  }
  margin:0 5%;
  border-radius: 5px;
  background-color: $brightMud;
  border:  1px solid $mud;
  box-shadow:rgba(15, 15, 15, 0.162)0px 0px 1px inset ;
};
@mixin webkitScroll {
  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb{
    background-color:  #D3D1CB;;
  }
  &::-webkit-scrollbar-track{
    background-color: #edece9;
  }
} ;

@mixin popupMenu {
  width:320px ;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  transform: matrix(1,0,0,1,0,0);
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab; 
  box-shadow: 0px 0px 23px -5px #ababab;
  
  &::-webkit-scrollbar-thumb {
    background: #D3D1CB;
  }
  &::-webkit-scrollbar-track{
    background: #EDECE9;
  }
}
div {
  box-sizing: border-box;
}
.pageLink {
  &:hover{
    background-color: $itemHover;
  }
}

button {
  @include initialBtn
}
ul,
ol{
  margin: 0;
  padding:0;
  padding-left: 1rem;
  li {
    padding-left: 10px;
  }
}

a:link ,a:active ,a:visited {
  text-decoration: none;
  color: inherit
}

