@import './common';

.editor.nonePage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:20%;
  p, button {
    margin: 5px 0;
    padding :5px ;
    font-size: 1rem;
  }
  button{
    color: $turkeyBlue;
    border-bottom:1px solid $turkeyBlue;

    &:hover{
      background-color: $turkeyBlue;
      color: #ffff;
    }
  }
}
.editor {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  @include webkitScroll;
  position: relative;
  //isInTrash
  .isInTrash{
    z-index: 20;
    position: absolute;
    align-items: center;
    justify-items: center;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color:rgb(235, 87, 87); 
    color:#ffff;
    font-size: 14px;
    .isInTrashBtns{
      display: flex;
      justify-content: space-between;
    }
    button{
      color:#ffff;
      border : 1px solid #ffff;
      border-radius: 3px;
      padding:5px;
      margin-left: 8px;
      font-size: 13px;
    }
  }
  // topbar ---
  .topbar {
    width:100%;
    height: 45px ;
    padding: {
      left: 12px;
      right: 16px;
    };
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color :rgb(55, 53, 47);
    z-index: 5;
    & >div{
      width: 50%;
    }
    .topbar_left  {
      display: flex;
      align-items: center;
    }
    svg{
      color:inherit;
      font-size: 1rem;
    }
  }
  .pagePathes ,
  .pageFun {
    display: flex;
    height: 100%;
    color:inherit;
  }
  .pagePathes{
    flex-grow: 1;
    flex-shrink: 1;
  }
  .pageFun,
  #sideBarBtn{
    flex-grow: 0;
    flex-shrink: 0;
  }
  #sideBarBtn ,
  .pagePathes {
    display: flex;
    align-items: center;
  }
  #sideBarBtn {
    margin-right: 5px;
    padding:10px;
  }
  .pagePathes{
    display: flex;
    width: calc(100% - (1rem + 16px));
    a{
      text-align: center;
    }
    span{
      margin-right :5px
    }
  }
  .pagePath {
    width: fit-content;
    font-size: 14px;
    display: flex;
    margin-right: 3px;
    .pageImgIcon{
      width:14px;
      height: 14px;
    }

  }
  .pathSlash{
    margin-right: 3px;
  }
  .pageLink{
    width:100%;
  }
  .pageLink a{
    display: flex;

  }
  .pathIcon{
    width: 14px;
    height: 14px;
    text-align: center;
  }
  .pathTitle{
    width: fit-content;
    height: 14px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    div{
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: keep-all;
    }
  }
  .pageFun{
    position: relative;
    display: flex;
    justify-content:flex-end;
    padding-right: 10px;
    & >button {
      margin-left: 10px;
    }
    & >button:first-child{
      margin-left: 0;
    }
    #pageMenu {
      position:absolute;
      top:100%;
      right:0;
    }
  }
  .pageMoreFun{
    @include popupMenu;
    position: absolute;
    top:100%;
    right: 0;
    max-width: 200px;
    
    .inner >div{
      padding: 10px;
      padding-top:0;
    }
    .inner .fontStyle{
      padding-top: 10px;
    }
    .fontStyleHeader{
      color:$itemText;
      font-size: 12px;
    }
    .fontStyleBtns{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 5px;
      button{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        user-select: none;
        transition: color 300ms ease 0s, border 300ms ease 0s;
        cursor: pointer;
        min-width: 34px;
        padding: 10px 6px 6px;
        border-radius: 3px;
        line-height: 1;
        
        &:hover{
          background-color: $itemHover;
        }
      }
      .fontSample{
        font-size:24px;
        position: relative;
        top: -2px;
        height: 24px;
      }
      .fontSample.on{
        color:$turkeyBlue;
      }
      .fontName{
        font-size: 12px;
        line-height: 16px;
        color: $itemText;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 4px;
      }
      
    }
    .size{
      display: flex;
      flex-direction:column;
      
      button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      button:first-child{
        padding-bottom: 10px;
      }
    }
    .function{
      display: flex;
      flex-direction: column;
      button {
        display: flex;
        padding-top:10px;
        svg{
          margin-right: 10px;
        }
        .label{
          text-align: left;
          min-width: fit-content;
        }
        div{
          display: flex;
          flex-direction: column;
          span:last-child{
            font-size: 12px;
            color:$itemText;
          }
        }
      }
    }
  }
  #pageMenu{
    #new_sub_page{
      display: none;
    }
  }
}
  // --topbar
.pageFun{
  width: 180PX;
  display: flex;
  justify-content: space-around;
  button{
    color:inherit;
    font-size: 14px;
  }

  .favoriteBtn.on{
    svg{
      fill: rgb(246, 192, 80);
    }
    
  }
}
//--discardEdit
.discardEdit {
  display: none
}
.discardEdit.on{
  display: block;
  @include popup;
  z-index: 300;
  .inner{ 
    width: 336px;
    height: 204px;
    padding: 24px 32px;
    box-sizing: border-box;
  }
  .question{
    min-height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .btns{
    display: flex;
    flex-direction: column;
    width: 100%;
    button{
      height: 32px;
      width: 100%;
      border-radius: 3px;
      padding: 0 12px;
      font-size: 14px;
      line-height: 1.2;
      margin-top: 8px;
      white-space: nowrap;
    }
    button:first-child{
      color:rgb(235, 87, 87);
      border:1px solid rgba(235, 87, 87, 0.5);
      &:hover{
        background-color:rgba(235, 87, 87, 0.1) ;
      }
    }
    button:nth-child(2){
      border:1px solid rgba(55, 53, 47, 0.16);
      &:hover{
        background-color:$itemHover ;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .editor {
    .pathTitle {
      min-width: 0;
    }
  }
}