@import './block';
@import './common';
@import './comment';
@import './menu';

.editor.nonePage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:20%;
  p, button {
    margin: 5px 0;
    padding :5px ;
    font-size: 1rem;
  }
  button{
    color: $turkeyBlue;
    border-bottom:1px solid $turkeyBlue;

    &:hover{
      background-color: $turkeyBlue;
      color: #ffff;
    }
  }
}
.editor {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  @include webkitScroll;
  position: relative;
  //isInTrash
  .isInTrash{
    position: absolute;
    align-items: center;
    justify-items: center;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color:rgb(235, 87, 87); 
    color:#ffff;
    font-size: 14px;
    .isInTrashBtns{
      display: flex;
      justify-content: space-between;
    }
    button{
      color:#ffff;
      border : 1px solid #ffff;
      border-radius: 3px;
      padding:5px;
      margin-left: 8px;
      font-size: 13px;
    }
  }
  // topbar ---
  .topbar {
    width:100%;
    height: 45px ;
    padding: {
      left: 12px;
      right: 14px;
    }
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color :rgb(55, 53, 47);
    & >div:first-child {
      display: flex;
      align-items: center;
    }
    svg{
      color:inherit;
      font-size: 1rem;
    }
  }
  .pagePathes ,
  .pageFun {
    display: flex;
    height: 100%;
    color:inherit;
  }
  .pagePathes{
    flex-grow: 1;
    flex-shrink: 1;
  }
  .pageFun,
  #sideBarBtn{
    flex-grow: 0;
    flex-shrink: 0;
  }
  #sideBarBtn ,
  .pagePathes {
    display: flex;
    align-items: center;
  }
  #sideBarBtn {
    margin-right: 5px;
  }
  .pagePathes{
    a, span{
      text-align: center;
    }
    span{
      margin-right :5px
    }
    .pagePath:first-child  span:first-child{
      display: none;
    }
  }
  .pagePath {
    font-size: 14px;
  }
  .pageFun{
    position: relative;
  }
  .pageMoreFun{
    @include popupMenu;
    position: absolute;
    top:100%;
    right: 0;
    max-width: 200px;
    
    .inner >div{
      padding: 10px;
      padding-top:0;
    }
    .inner .fontStyle{
      padding-top: 10px;
    }
    .fontStyleHeader{
      color:$itemText;
      font-size: 12px;
    }
    .fontStyleBtns{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 5px;
      button{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        user-select: none;
        transition: color 300ms ease 0s, border 300ms ease 0s;
        cursor: pointer;
        min-width: 34px;
        padding: 10px 6px 6px;
        border-radius: 3px;
        line-height: 1;
        
        &:hover{
          background-color: $itemHover;
        }
      }
      .fontSample{
        font-size:24px;
        position: relative;
        top: -2px;
        height: 24px;
      }
      .fontSample.on{
        color:$turkeyBlue;
      }
      .fontName{
        font-size: 12px;
        line-height: 16px;
        color: $itemText;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 4px;
      }
      
    }
    .size{
      display: flex;
      flex-direction:column;
      
      button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      button:first-child{
        padding-bottom: 10px;
      }
      .switchBtn{
        position: relative;
        width: 30px;
        height: 15px;
        input{
          opacity: 0;
          width: 0;
          height: 0;
        }
        .slider{
          position:absolute;
          cursor:pointer;
          top:0;
          left:0;
          right: 0;
          bottom: 0;
          border-radius: 34px;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition:0.4s;
        }
        .slider::before{
          position:absolute;
          content:"";
          height: 12px;
          width: 12px;
          bottom: 1.5px;
          left: 4px;
          border-radius: 50%;
          background-color: white;
          -webkit-transition: 0.4s;
          transition:0.4s;
        }
        .slider.on{
          background-color:$turkeyBlue ;
          box-shadow: 0 0 1px $turkeyBlue;
        }
        .slider.on:before {
          -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
          transform: translateX(10px);
        }
      }
    }
    .function{
      display: flex;
      flex-direction: column;
      button {
        display: flex;
        padding-top:10px;
        svg{
          margin-right: 10px;
        }
        .label{
          text-align: left;
          min-width: fit-content;
        }
        div{
          display: flex;
          flex-direction: column;
          span:last-child{
            font-size: 12px;
            color:$itemText;
          }
        }
      }
    }

  }
  // --topbar

  //frame ----
  .frame {
    width: 100%;
    height: calc(100% - 45px);
    flex-grow: 1;
    flex-shrink: 1;
    z-index: inherit;
    display: flex;
    justify-content: center;
  }
  .frame_inner {
    width: 100%;
    height: 100%;
    div, input, button{
      font-family: inherit;
    }
  }
  .pageHeader, 
  .pageContent{
    max-width: 100%;
    width: 100%;
    padding-left: calc(96px + env(safe-area-inset-left));
  }
  .pageTitle ,
  .editableBlock {
    padding-right: calc(96px + env(safe-area-inset-left));
  }
  .subBlocks .editableBlock{
    padding-right: 0;
  }
  .pageComment{
    margin-top: 1rem;
  }
  .pageHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    .pageHeader_notConver{
      display: flex;
      flex-direction: column;
    };

    &> div{
      position: relative;
    }
    input{
      width: 100%;
      outline: none;
      border: none;
      font-size: inherit;
    }
    .deco{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 8px;
      margin-bottom: 10px;
      width: 100%;
      height: 24px;
      button{
      width: fit-content;
      height: 100%;
      margin-right: 5px;
      color:$mud;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 14px;
      svg{
        padding-right: 5px;
      }
      }
      span{
        font-size: 13px;
      }
    }
    .pageIcon{
      width: 78px;
      height: 78px;
      transition: opacity 100ms ease-in 0s;
      opacity: 1;
      font-size: 48px;
    }
    .comments{
      display: flex;
      margin: 8px 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid $lightMud;
      width: 100%;
      &>div {
        font-size: 14px;
      }
      .firstLetter {
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        margin-right: 5px;
        span{
          width: fit-content;
          height: fit-content;
          padding: 5px;
          font-size: 14px;
        }
      }
      .commentContent{
      }
    }
    .pageTitle{
      font-size: inherit;
    }
  }
  .pageContent_inner{
    position: relative;
  }
  .newPageFrame{
    color: $mud;
    span{
      color: $mud;
    }
    .pageContent_inner{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      font-size: 1rem;
      button{
        font-size: 1rem;
        display: block;
        margin: 10px;
        svg{
          color: $itemSvg;
          margin-right: 10px;
        }
      }
    }
  }
  // --frame
}

.pageFun{
  width: 180PX;
  display: flex;
  justify-content: space-around;
  button{
    color:inherit;
    font-size: 1rem;
  }
  button:first-child {
    font-size: 14px;
  }
  .favoriteBtn.on{
    svg{
      fill: rgb(246, 192, 80);
    }
    
  }
}
//--discardEdit
.discardEdit {
  display: none
}
.discardEdit.on{
  display: block;
  @include popup;
  z-index: 300;
  .inner{
    top: calc(50% - 102px) ;
    left: calc(50% - 168px);
    width: 336px;
    height: 204px;
    padding: 24px 32px;
    box-sizing: border-box;
  }
  .question{
    min-height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .btns{
    display: flex;
    flex-direction: column;
    width: 100%;
    button{
      height: 32px;
      width: 100%;
      border-radius: 3px;
      padding: 0 12px;
      font-size: 14px;
      line-height: 1.2;
      margin-top: 8px;
      white-space: nowrap;
    }
    button:first-child{
      color:rgb(235, 87, 87);
      border:1px solid rgba(235, 87, 87, 0.5);
      &:hover{
        background-color:rgba(235, 87, 87, 0.1) ;
      }
    }
    button:nth-child(2){
      border:1px solid rgba(55, 53, 47, 0.16);
      &:hover{
        background-color:$itemHover ;
      }
    }
  }
}
