@import './block';
@import './common';
@import './comment';
@import './menu';

.editor {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  @include webkitScroll;
  position: relative;
  //isInTrash
  .isInTrash{
    position: absolute;
    align-items: center;
    justify-items: center;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color:rgb(235, 87, 87); 
    color:#ffff;
    font-size: 14px;
    .isInTrashBtns{
      display: flex;
      justify-content: space-between;
    }
    button{
      color:#ffff;
      border : 1px solid #ffff;
      border-radius: 3px;
      padding:5px;
      margin-left: 8px;
      font-size: 13px;
    }
  }
  // topbar ---
  .topbar {
    width:100%;
    height: 45px ;
    padding: {
      left: 12px;
      right: 14px;
    }
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color :rgb(55, 53, 47);
    & >div:first-child {
      display: flex;
      align-items: center;
    }
    svg{
      color:inherit;
      font-size: 1rem;
    }
  }
  .pagePathes ,
  .pageFun {
    display: flex;
    height: 100%;
    color:inherit;
  }
  .pagePathes{
    flex-grow: 1;
    flex-shrink: 1;
  }
  .pageFun,
  #sideBarBtn{
    flex-grow: 0;
    flex-shrink: 0;
  }
  #sideBarBtn ,
  .pagePathes {
    display: flex;
    align-items: center;
  }
  #sideBarBtn {
    margin-right: 5px;
  }
  .pagePathes{
    a, span{
      text-align: center;
    }
    span{
      margin-right :5px
    }
    .pagePath:first-child  span:first-child{
      display: none;
    }
  }
  .pageFun{
    width: 180PX;
    display: flex;
    justify-content: space-around;
    button{
      color:inherit;
    }
  }
  // --topbar

  //frame ----
  .frame {
    width: 100%;
    height: calc(100% - 45px);
    flex-grow: 1;
    flex-shrink: 1;
    z-index: inherit;
  }
  .frame_inner {
    width: 100%;
    height: 100%;
  }
  .pageHeader, 
  .pageContent{
    max-width: 100%;
    width: 100%;
    padding-left: calc(96px + env(safe-area-inset-left));
  }
  .pageTitle ,
  .editableBlock {
    padding-right: calc(96px + env(safe-area-inset-left));
  }
  .subBlocks .editableBlock{
    padding-right: 0;
  }
  .pageHeader {
    //padding: 0 calc(96px);
    &> div{
      position: relative;
    }
    .deco{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 8px;
      margin-bottom: 4px;
      height: 24px;
      button{
      height: 100%;
      color:$mud;
      flex-grow: 0;
      flex-shrink: 0;
      padding : {
        left: 6px;
        right: 8px
      }
      display: flex;
      align-items: center;
      font-size: 14px;
      svg{
        padding-right: 5px;
      }
      }
    }
    .pageIcon{
      width: 78px;
      height: 78px;
      transition: opacity 100ms ease-in 0s;
      opacity: 1;
      font-size: 48px;
    }
    .comments{
      display: flex;
      margin: 8px 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid $lightMud;
      width: 100%;
      &>div {
        font-size: 14px;
      }
      .firstLetter {
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        margin-right: 5px;
        span{
          width: fit-content;
          height: fit-content;
          padding: 5px;
          font-size: 14px;
        }
      }
      .commentContent{
      }
    }
    .pageTitle{
      font-size: 40px;
    }
  }


  .newPageFrame{
    color: $mud;
    span{
      color: $mud;
    }
  }
  // --frame
}
