@import './common';

#iconPopup {
  @include popupMenu;
  position: absolute;
  top:100%;
  left: 0;
  width: 170x;
  button:hover{
    background-color: $itemHover;
  }
  .header,.body{
    padding: 10px;
  }
  .header{
    width: 100%;
    height: fit-content;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid $itemText;
    &> div{
      display: flex;
      button:first-child{
        margin-right: 5px;
      }
    }
    button{
      display: flex;
      align-items: center;
      padding: 2px;
    }
    .categoryBtn , &> div:last-child{
      padding-bottom: 6px;
    }
    .categoryBtn{
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
    }
    // .categoryBtn.on {
    //   border-bottom:  2px solid black;
    // }
    &>div:last-child{
      color: $itemText;
      button {
        color:inherit; 
      }
    }
    .bottomLine{
      position: absolute;
      top:calc(100% - 1.25px);
      left: 0;
      width: 100%;
      height: 2.5px;
      background-color: black;
    }
  }

    .emojiBtn {
      font-size: 20px;
      width: fit-content;
      height: fit-content;
      padding: 1px;
    }
  
}