.loading, .loading_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading{
  width: 100%;
  height: 100%
}
.loading_container{
  width:50px;
  height: 50px;
}
.loading_loader{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: loading 2s linear infinite;
    @keyframes loading {
      0%
      {transform: rotate(0deg);}
      100% 
      {transform: rotate(360deg);}
    }
    &::before{
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 50%;
      height: 100%;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      background:linear-gradient(to top, transparent ,rgb(149, 149, 149));
    }
    span{
      position: absolute;
      top:10%;
      left:10%;
      right: 10%;
      bottom:10%;
      border-radius: 50%;
      background-color: #ffff;
    }
}
