@import './common';
#loader{
  @include popupMenu;
  font-size: inherit;
  div{
    box-sizing: border-box;
    font-size: inherit;
  }
  .inner{
    height: fit-content;
    min-height: 100px;
    font-size: inherit;
    position: relative;
  }
  .innerPadding {
    padding:10px;
    width: 100%;
  }
  .imgLoader{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100px;
    .menu{
      border-bottom: 1px solid $itemHover;
      width: 100%;
      position: relative;
      .innerPadding{
        display: flex;
        padding-bottom: 0;
        button{
          margin-left: 1rem;
          padding-bottom: 10px;
        }
      }
    }
    .loaderForm{
      width: 100%;
      height: 50px;
      label{
        display: block;
        width: 100%;
        border:1px solid $itemHover;
        text-align: center;
        padding:6px;
        box-sizing: border-box;
        &:hover{
          background-color: $itemHover;
        }
      }
      input{
        position:absolute;
        width:0;
        height: 0;
      }
    }
  }
}