@import './common';
#menu {
  @include popUpMenu;
  position: absolute;
  top:0;
  left: 3rem;
  width:240px;
  font-weight: initial;
  .menu_inner {
    padding: 5% 0;
  }
  .editFn {
    border-bottom:  1px solid $mud;
  }
  .editFn button ,
  .menu_edit_inform{
    width: 90%;
    margin: 3% 5%;
  }
  .editFn button {
    position: relative;

    display: flex;
    font-size: 1rem;
    span{
      font-size: 14px;
    }
    svg:first-child {
      margin: 0 5px
    }
    span:nth-child(3){
      position: absolute;
      top:0;
      right: 0;
      color: $mud;

      svg{
        font-size: 18px;
      }
    }
    .arrowDown {
      transform: rotate(-90deg);
    }
  }
  .menu_edit_inform{
    font-size: 14px;
    text-align: left;
    color: $mud;
    margin-bottom: 0;
    p {
      margin: 2px 0;
    }
  }
}
