@import './common';
.menu {
  position: absolute;
  top:0;
  left: 3rem;
  font-weight: initial;
}
#mainMenu {
  @include popUpMenu;
  width:240px;
  .menu_inner {
    padding: 5% 0;
  }
  .menu_editBtns >button{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu_editBtns > button >div ,
  .menu_edit_inform{
    width: 90%;
    margin: 3% 5%;
  }
  .menu_editBtns> button {
    position: relative;
    & >div{
      display: flex;
      justify-items: center;
      align-items: center;
    }
    font-size: 1rem;
    span{
      font-size: 14px;
      text-align: center;
    }
    svg:first-child {
      font-size: 1rem;
      margin: {
        left: 5px;
        right: 8px
      }
    }
    span:nth-child(3){
      position: absolute;
      right: 1rem;
      color: $mud;
      svg{
        font-size: 18px;
      }
    }
    .arrowDown  svg {
      transform: rotate(-90deg);
    }
  }
  .underline{
    border-bottom:  1px solid $mud;
  }
  .menu_edit_inform{
    font-size: 14px;
    text-align: left;
    color: $mud;
    margin-bottom: 0;
    p {
      margin: 2px 0;
    }
  }
}
.menu_color{
  @include popUpMenu;
  overflow-y: scroll;
  z-index: 10;
  width: 250px;
  height: 380px;
  color: initial;
  font-weight: initial;
  section > header {
    font : {
      size: 12px;
      weight: 600
    };
    text-align: left;
    color: $mud;
  }
  section {
    padding: 3%;
  }
  section > header,
  .colorIcon {
    margin: 0 5px;
  }
  .colorInform {
    display: flex;
    font-size: 14px;
    padding: 5px 0;
    width: 100%;
    span{
      height: 22px;
    }
  }
  .colorIcon {
    border :1px solid $lightMud ;
  }
  .colorName {
    margin-left: 5px;
  }

}
#sideMenu  {
  #commandBlock {
  } #no_result{
    display: none;
  }
}