@import './common';

.sideBar_close , 
.sideBar_float,
.sideBar_floatHide{
  .frame{
    z-index: 1;
    div, button {
      z-index: inherit;
    }
  }
  .sideBar{
    position: absolute;
    z-index: 10;
  }
  .sideBarPageFn{
    button{
      color :$darkgrey
    }
  }
  .sideBarBtn{
    display: none;
  }

}
.sideBar_close {
  .sideBar{
    transform: translate(-(100%), 0)
  }
}
.sideBar_float,
.sideBar_floatHide{
  .sideBar{
    @include popupMenu;
    top:45px;
    left: 0;
    background-color:#ffff;
    width: 230px;
    height: fit-content;
  }
}
.sideBar_floatHide{
  .sideBar{
    transform: translate(-250px, 0);
  }
}
.sideBar_lock{
  .sideBar{
    transform: translate(0,0);
    flex-shrink: 0; 
    flex-grow: 0;
  }
}
.sideBar{
  display: block;
  width: 250px;
  height: 100vh;
  background-color:$pistachioshell;
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  &_inner{  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .pageImgIcon {
    width: 14px;
    height: 14px;
  }
  .itemInner ,
  .subPage.no {
    span{
      color:$itemText;
      font-weight: 500;
    }
  }
  .itemInner{
    display: flex;
    padding : 5px 14px;
    font-size: 14px;
    text-align: center;
    min-height: 27px;
    .record-icon, svg{
      margin-right: 8px;
    }
    svg{
      font : {
        size:18px;
        weight:bolder;
      }
      color: $itemSvg;
      fill: $itemSvg;
    }
  }
  .list .itemInner{
    justify-content: space-between;
  }
  .switcher, .fun1{
    .itemInner{
      font-size: 13px;
    }
  }
  .sideBarPageFn{
    display: none;
  }
  .sideBarPageFn.on{
    display: flex;
    align-content: center;
    padding-top: 5px;
    button{
      width: fit-content;
      font-size: 12px;
      color: $itemSvg;
      fill: $itemSvg;
      svg{
        width: fit-content;
        margin-right: 0;
      }
    }
  }
  //--sideBarBtn
  .sideBarBtn{
    color: $itemSvg;
      fill: $itemSvg;
    font-weight: bolder;
    font-size: 20px;
    svg{
      margin-right: 0;
    }
  }
  .openSideBarBtn{
    position: absolute;
    top:10px;
    right: -10%;
  }
  //--sideBarBtn

  // -- switcher 
  .switcher{
    .itemInner{
      justify-content: space-between;
      padding: 10px 14px ;
      & > div{
        display: flex;
        align-items: center;
      }
    }
    .trashBtn{
      display: none;
    }
  }
  .record-icon{
    background-color:$mud ;
    color: #ffff;
    border-radius: 3px;
    text-align: center;
    width: 18px;
    height: 18px;
    text-transform: uppercase;
    div{
      font-size: 12.5px;
    }
  }
  .user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .userEmail{
    display: none;
  }
  .userId{
    display: flex;
    align-items: center;
    height: 18px;
    div:first-child{
      font-weight: 500;
    }
    div:nth-child(2){
      margin-top: -5px;
      transform:rotate(90deg);
      svg{
        margin-right: 0;
        color: $itemSvg;
        font-weight: bolder;
      }
    }
  }
  // ---switcher 
  //recentPages 
  .recentPages{
    display: none;
  }
  // fun1--
  .fun1{
    border-top: none;
    padding-bottom: 20px;
    .itemInner span{
      font-size: 12px;
      color: rgba(25, 23, 17, 0.753);
      font-weight: initial;
    }
  } 
  // --fun1
  .srcoller,.recentPages{
    .header{
      padding : 0 14px;
      margin-bottom: 10px;
      font : {
        size: 11px;
        weight:500;
      }
      color: $itemSvg;
      fill: $itemSvg;

    }
  }
  //scroller--
  .srcoller{
    padding: 16px 0;
    height: 50%;
    overflow:hidden auto;
    //sroller//
    @include webkitScroll;
    ul{
      list-style: none;
      padding:0;
      width: 100%;
    }
    li{
      padding: 0;
    }
    .favorites , 
    .private{
      margin-bottom: 20px;
    }

    .list .page {
      width: 100%;
    }
    .subPage{
      display: none;
    }
    .subPage.on{
      display: block;
      margin : 5px 0;
      margin-left: 18px;
    }
    .itemInner {
      text-align: left;
      justify-content: space-between;
    }
    .pageItem {
      display: flex;
      justify-content: flex-start;
    }
    .toggleBtn {
      svg{
        margin-right: 0;
      }
    }
    .pageName {
      font-size: inherit;
      display: flex;
      align-items: center;
      span{
        display: flex;
        align-items: center;
      }
      svg{
        font-size: 13px;
        margin-right: 0;
      }
      span:first-child{
        margin-right: 5px;
      }
    }
    .subPage.no {
      margin-left: 36px;
      span{
        font-size: 13px;
      }
    }
    .addPageBtn{
      width: 18px;
      height: 18px;
      svg{
        margin-right: 0;
        font-size: 16px;
      }
    }
    .inside {
      display: none;
    }
    .inside.on {
      display: block;
    }
  }
  .private {
    .header{
      display: flex;
      justify-content: space-between;
      svg{
        color: $mud
      }
    }
  }
  .fun2{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color:$darkgrey;
    .itemInner{
      justify-content: flex-start;
      svg, span{
        color:$darkgrey;
      }
    }
  }
  //--scrolloer

  // addNewPageBtn --
  .addNewPageBtn {
    width: 100%;
    height: 45px;
    min-height: 27px;
    border-top: 1px solid $lightMud;
    &:hover{
      background-color: $itemHover;
    }
    button {
      color:$darkgrey;
      font : {
        size:14px;
      }
      width: 100%;
      height: 100%;
      padding: 2px 14px;
      display: flex;
      align-items: center;
      svg{
        color: $itemSvg;
      fill: $itemSvg;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
        font : {
          size: 1rem;
          weight: bolder
        }
      }
    }
  }
  //--addNewPage
}
#moreFn, 
#sideBar_pageMenu{
  z-index: 20;
}
#moreFn{
  @include popupMenu;
  display: none;
  z-index: 20;
  width: 230px;
  .resizeBar{
    display: none;
  }
  button{
    padding:  3%; 
    @include editMenuBtns;
  }
  p {
    margin: 0;
    margin-left: 5px;
    padding: 3%;
    color: $itemText
  }
  .pageInform{
    display: none;
  }
}

#sideBar_pageMenu{
  width: fit-content;
  padding:0;
}


@media screen and (max-width:425px) {
  .sideBar{
    background-color: rgb(240, 240, 240);
    width: 100vw;
    .closeSideBarBtn {
      display: none;
    }
    .itemInner{
      padding: 0.5rem 1rem;
    }
    .scroller{
      height: calc(80vh - 1.5rem);
    }
    .switcher .itemInner,.srcoller .header , .recentPages .header{
      font-size: 1rem;
    }
    .switcher {
      .itemInner{
        padding-top:1rem;
      }
      .trashBtn{
        display: block;
        &:hover{
          svg{
            fill: black;
          }
        }
      }
    } 
    .user , .record-icon{
      height: 40px;
    }
    .record-icon {
      background-color: black;
      color:#ffff;
    }
    .itemInner svg{
      font-size: 1rem;
      color:$darkgrey;
    }
    .userEmail{
      margin-top: 4px;
      font-size: 14px;
    }
    .record-icon {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        font-size: 1.8rem;
      }
    }
    .userEmail{
      display: block;
    }
    .itemInner{
      font-size: 14px;
    }
    .private .header svg{
      color:$darkgrey
    }
    .pageLink:hover{
      background-color:rgba(222, 222, 222, 0.833) ;
    }
    .fun1, .fun2, .addNewPageBtn{
      display: none;
    }
    .recentPages{
      display: block;
      margin: 10px 0;
      .header{
        margin-bottom: 1rem;
      }
      .list{
        padding: 0 1rem ;
        display: flex;
      }
      .item{
        @include popupMenu;
        box-shadow:rgba(15, 15, 15, 0.251) 0px 0px 4px inset  ;
        position: relative;
        height: 25vw;
        width: 25vw;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-right: 14px;
        .cover{
          width: 100%;
          height: 50%;
        }
        .cover.none{
          background-color:rgb(224, 224, 224);
        }
        .pageIcon {
          width: 20%;
          height: 20% ;
          position: absolute;
          top:40%;
          left:10%;
        }
        .pageImgIcon{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        .title{
          background-color: #fff;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding: 5px ;
          padding-top: 15%;
          height: 50%;
          width: 100%;
          font: {
            size: 14px;
            weight:bolder;
          };
        }
      }
    }
  }

  #moreFn {
    display: block;
    position:absolute;
    transform: translateY(100vh);
    top:0;
    width: 100vw;
    height: 100vh;
    min-height: 10vh;
    transition: transform 500ms ease;
    background-color:  rgb(240, 240, 240);
    .resizeBar{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: none;
      div{
        width: 3rem;
        height: 3px;
        border-radius: 20px;
        background-color:  rgb(217, 215, 215);
      }
    }
    .edit_inform{
      display: none;
    }
    .pageInform{
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 10px 1rem ;
      .pageIcon {
        height: 2.2rem;
        width: 2.2rem;
      }
      .pageImgIcon{
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      .pageTitle{
        margin-left: 1rem;
        font-size: 1.2rem;
        text-align: center;
      }
    }
    button{
      padding:0;
      margin: 10px 1rem ;
    }
    button > div{
      width:calc(100% - 2rem);
      padding: 5px;
      background-color: #fff;
      border-radius: 10px;
    }
    .deleteBtn{
      color:red
    }
  }
}