@import './common';

#trash{
  @include modalMenu;
  display: none;
  width: 400px;
  min-width: 180px;
  max-width: calc(100vw - 24px);
  min-height: fit-content;
  max-height: 70vh;
  padding:12px;
  box-sizing: border-box;
  .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 5px;
    width: calc(100% - 5px);
    .range button{
      margin-right: 2rem;
      z-index: 15;
      &:hover {
        background-color: $itemHover;
      }
    }
    .closeTrashBtn{
      color:$itemText;
      &:hover{
        color:black
      }
    }
  }
  .search{
    input{
      @include searchInput;
      margin: 0;
      padding: 0;
      padding-left: 5px;
      width: calc(100% - 5px);
      font-size: 14px;
    }
  }
  .page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    &:hover{
      background-color:$pistachioshell;
    }
    .btns{
      button{
      font-size: 1rem;
      padding: 5px;
      &:hover{
        background-color: $itemHover;
      }
      }
      svg{
        color:$darkgrey;
      }
    }
  }
  .result{
    flex-direction: column;
  }
  .noResult , 
  .noTrash{
    margin-top: 10px;
    color:$lightMud;
    text-align: center;
  }
}

@media screen and (max-width:768px) {
  #trash{
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    transform: translateY(200vh);
    transition: transform 1000ms ease;
  }
}