  @import './common';
  @import './block';
  @import './comment';
  @import './linkLoader';
  #inner {
    .blockComponent ,
    .contents,
    .contentEditable{
      color:inherit
    }
  }
  //frame ----
  .frame.stop{
    overflow-y:hidden;
  }
  .frame {
    width: 100%;
    height:100%;
    flex-grow: 1;
    flex-shrink: 1;
    z-index: inherit;
    display: flex !important;  
    justify-content: center;
    overflow-y: scroll;
  }
  .frame_inner {
    width: 100%;
    height: 100%;
    div, input, button{
      font-family: inherit;
    }
  }
  .pageHeader{
    width: 100%;
  }
  .pageHeader_notCover, 
  .pageContent {
    max-width: 100%;
    width: 100%;
    padding-left: calc(96px + env(safe-area-inset-left));
  }
  .pageHeader .pageTitle ,
  .editableBlock,
  .pageHeader .comments {
    padding-right: calc(96px + env(safe-area-inset-left));
  }
  .subBlocks .editableBlock{
    padding-right: 0;
  }
  .pageComment{
    margin-top: 1rem;
  }
  .pageHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
    .pageCover{
      position:relative;
      width: 100%;
      height: 30vh;
      img{
        width: 100%;
        height: 100%;
      }
      .changeCoverBtn{
        display: none;
      }
    }
    .pageCover.on{
      .changeCoverBtn{
        font-size: 1rem;
        display: block;
        transition: display 1ms ease;
        position:absolute;
        bottom:1rem;
        left:50%;
        z-index:30;
        background-color: rgba(254, 254, 254, 0.712);
        border-radius: 10px;
        padding: 5px 10px;
        &:hover{
          transition: background-color 0.3s ease;
          background-color:rgba(189, 189, 189, 0.744); ;
        }
      }
    }
    .pageHeader_notConver{
      display: flex;
      flex-direction: column;
    };

    &> div{
      position: relative;
    }
    .pageIcon {
      width: fit-content;
      height: fit-content;
    }
    .pageIcon.iconNull{
      display: none;
    }
    .deco div{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 8px;
      margin-bottom: 10px;
      width: 100%;
      height: 24px;
      button{
      width: fit-content;
      height: 100%;
      margin-right: 5px;
      color:$mud;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 14px;
      svg{
        padding-right: 5px;
      }
      }
      span{
        font-size: 13px;
      }
    }
    .pageIcon{
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 100ms ease-in 0s;
      opacity: 1;
      position: relative;
      pointer-events: auto;
      cursor:default ;
      .pageStringIcon{
        text-align: center;
        width: 100%;
        height: 100%;
        font-size:  60px;
      }
      .pageImgIcon{
        width:100%;
        height:100%;
      }
    }
    .pageTitle{
      font-size: inherit;
      font-weight: bold;
      width: 100%;
      word-break: break-all;
    }
  }
  .pageContent{
    height: fit-content;
    padding-bottom: 50px;
  }
  .frame.mobile{
    .pageContent{
      padding-bottom: 100px;
    }
  }
  .pageContent_inner{
    position: relative;
    width: 100%;
  }
  .newPageFrame{
    color: $mud;
    span{
      color: $mud;
    }
    .pageContent_inner{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      font-size: 1rem;
      button{
        font-size: 1rem;
        display: block;
        margin: 10px;
        svg{
          color: $itemSvg;
      fill: $itemSvg;
          margin-right: 10px;
        }
      }
    }
  }
  // --frame
  .subFrame{
    width: 100vw;
  }

  #moveTargetBlock{
    opacity: 0.3;
    
  }

@media screen and (max-width:767px) {
  .pageHeader{
    margin-bottom: 5px;
  }
  .pageHeader .pageCover {
    height: 100px;
  }
  .pageHeader_notCover ,
  .pageContent {
    padding-left: 1rem;
  }
  .pageHeader .pageTitle, 
  .editableBlock, 
  .pageHeader .comments {
    padding-right: 2rem;
  }
  .editableBlock{
    margin-top: 5px;
  }
}