.edit_inform {
  border-top: 1px solid #B9B8B6;
  font-size: 14px;
  text-align: left;
  color: #B9B8B6;
  margin-bottom: 0;
}

.edit_inform p {
  margin: 2px 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.editableBlock {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 1rem;
  margin-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mainBlock .mainBlock_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.subBlocks .editableBlock {
  padding: 0;
  padding-left: 20px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.editableBlock,
.blockFn button {
  font-size: 1rem;
  line-height: 24px;
}

.blockFn {
  display: none;
}

.blockFn.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding-right: 3rem;
}

.blockFn.on .blockFnIcon {
  font-size: 1.2rem;
  font-weight: bolder;
}

.blockFn.on .blockFnIcon svg {
  color: #a3a3a2;
}

.blockFn button:hover,
.toggle.block .left:hover {
  background-color: #d6d6d6;
}

.contentEditable {
  font-size: inherit;
}

.contentEditable:focus-visible {
  outline: none;
}

.h1.block {
  margin-top: 32px;
  font-size: 40px;
  font-weight: 700;
}

.h2.block {
  margin-top: 22.4px;
  font-size: 24px;
  font-weight: 600;
}

.h3.block {
  font-size: 1rem;
}

.text.block {
  margin-top: 2px;
}

.todo.block .left,
.toggle.block .left,
.page.block .left {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  font-size: 17px;
}

.todo.block svg,
.toggle.block svg,
.page.block svg {
  width: inherit;
  height: inherit;
  font-size: inherit;
}

.todo.done.block path {
  stroke: grey;
}

.toggle.block button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a3a3a2;
}

.toggle.block .subBlocks {
  display: none;
}

.toggle.on.block .subBlocks {
  display: block;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list .list_marker {
  padding-right: 8px;
}

.list .list_marker svg {
  font-size: 11px;
}

.blockToggleBtn svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.blockToggleBtn.on svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.blockContents {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1% 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blockContents .contents.commentBtn {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.8);
}

.blockContents .contents.commentBtn:hover {
  background-color: rgba(255, 212, 0, 0.8);
}

.blockContents .contents:empty::after {
  content: attr(placeholder);
  color: #B9B8B6;
}

.commentBtn.btnIcon svg, .commentBtn.btnIcon span {
  color: #a3a3a2;
}

#commandBlock {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
}

#commandBlock::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#commandBlock::-webkit-scrollbar-track {
  background: #EDECE9;
}

#commandBlock_inner {
  padding: 5px;
  height: 350px;
}

#commandBlock .command > header {
  padding: 0 14px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: rgba(55, 53, 47, 0.65);
  font-size: 11px;
  font-weight: 500;
  line-height: 120%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}

#commandBlock .command_btn {
  display: none;
}

#commandBlock .command_btn.on {
  display: block;
  width: 100%;
  padding: 2% 0;
  border-radius: 3px;
}

#commandBlock .command_btn.on:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

#commandBlock .command_btn.on.first {
  background-color: rgba(55, 53, 47, 0.08);
}

#commandBlock .command_btn_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1%;
}

#commandBlock .command_btn_left {
  width: 38px;
  height: 38px;
  padding: 7px;
  font-size: 24px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}

#commandBlock .headerType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#commandBlock .headerType span:first-child {
  font-size: 20px;
}

#commandBlock .headerType span:last-child {
  font-size: 14px;
  font-weight: 600;
  padding-top: 30%;
}

#commandBlock .command_btn_right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-left: 10px;
}

#commandBlock .command_btn_right header, #commandBlock .command_btn_right .command_explanation {
  text-align: left;
}

#commandBlock .command_btn_right header {
  font-size: 14px;
}

#commandBlock .command_btn_right .command_explanation {
  padding-top: 3px;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.65);
}

#commandBlock .noResult {
  color: rgba(55, 53, 47, 0.65);
  padding: 2% 10%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.edit_inform {
  border-top: 1px solid #B9B8B6;
  font-size: 14px;
  text-align: left;
  color: #B9B8B6;
  margin-bottom: 0;
}

.edit_inform p {
  margin: 2px 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.edit_inform {
  border-top: 1px solid #B9B8B6;
  font-size: 14px;
  text-align: left;
  color: #B9B8B6;
  margin-bottom: 0;
}

.edit_inform p {
  margin: 2px 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.blockId_comments .comments {
  display: none;
}

.blockId_comments.open {
  z-index: 5;
}

.blockId_comments.open .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blockId_comments.open .commentBtn.btnIcon {
  display: none;
}

.commentBlock .firstLetter, .commentInput .firstLetter {
  border-radius: 50%;
  border: 1px solid black;
  color: black;
  aspect-ratio: 1;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1rem;
  font-weight: initial;
  width: 24px;
  height: 24px;
}

#comments {
  position: absolute;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  z-index: 10;
}

#comments::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#comments::-webkit-scrollbar-track {
  background: #EDECE9;
}

.commentType {
  border-bottom: 1px solid #d6d6d6;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentType button {
  height: 100%;
  margin: 10px 5px;
}

.comment {
  padding: 5%;
  border-top: 1px solid #d6d6d6;
}

.comment .commentInput {
  padding: 0;
  width: 100%;
}

.comment:first-child {
  border-top: none;
}

.commentBlock section {
  margin-bottom: 10px;
}

.commentBlock .comment_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 24px;
}

.commentBlock .comment_header .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
}

.commentBlock .comment_header .userName {
  margin: 0 10px;
  font-weight: bold;
}

.commentBlock .comment_header .time {
  margin: 0;
  color: #a3a3a2;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commentBlock .comment_header .tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #a3a3a2;
  border-radius: 2px;
}

.commentBlock .comment_header .tool button {
  color: #a3a3a2;
  height: 24px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.commentBlock .comment_header .tool button svg {
  font-size: 1.1rem;
  font-weight: bolder;
}

.commentBlock .comment_header .tool .resolveTool {
  border-right: 1px solid #a3a3a2;
}

.commentBlock .comment_block, .commentBlock .comment_content {
  margin-left: 34px;
}

.commentBlock .comment_block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8d8d8d;
}

.commentBlock .comment_block_line {
  width: 3px;
  border-radius: 3px;
  margin-left: 2px;
  margin-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-bottom: 2px;
  background: rgba(255, 212, 0, 0.8);
}

.commentBlock .tool button:hover {
  background-color: rgba(49, 45, 33, 0.11);
  color: black;
}

.commentBlock .moreTool {
  position: relative;
}

#popupMenu {
  padding: 2%;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
}

#popupMenu::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#popupMenu::-webkit-scrollbar-track {
  background: #EDECE9;
}

#popupMenu .commentInput {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.commentInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 24px;
}

.commentInput form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: inherit;
  position: relative;
  width: calc( 100% - 24px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.commentInput input[type="text"] {
  width: 90%;
  height: 1.5rem;
  font-size: 15px;
  padding-left: 6px;
  color: #8d8d8d;
  margin: 0 5%;
  border-radius: 5px;
  background-color: rgba(242, 241, 238, 0.6);
  border: 1px solid #B9B8B6;
  -webkit-box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
          box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
  background-color: initial;
  border: none;
  padding: 0;
  height: 100%;
  width: 90%;
  margin: 0 2.5%;
}

.commentInput input[type="text"]::-webkit-input-placeholder {
  color: #B9B8B6;
}

.commentInput input[type="text"]:-ms-input-placeholder {
  color: #B9B8B6;
}

.commentInput input[type="text"]::-ms-input-placeholder {
  color: #B9B8B6;
}

.commentInput input[type="text"]::placeholder {
  color: #B9B8B6;
}

.commentInput input[type="text"]:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3.5px solid #a9e2f5;
  border: none;
}

.commentInput .commentText:focus {
  outline: none;
}

#tool_more {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  width: 200px;
  z-index: 15;
}

#tool_more::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#tool_more::-webkit-scrollbar-track {
  background: #EDECE9;
}

#tool_more button {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 16.8px;
  min-height: 28px;
}

#tool_more button:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

#tool_more button svg {
  width: 18px;
  height: inherit;
  font-weight: lighter;
}

#tool_more button span {
  margin-left: 6px;
}

#tool_more .aboutComments {
  color: #8d8d8d;
  font-size: 13px;
  border-top: 1px solid #d6d6d6;
}

.edit_inform {
  border-top: 1px solid #B9B8B6;
  font-size: 14px;
  text-align: left;
  color: #B9B8B6;
  margin-bottom: 0;
}

.edit_inform p {
  margin: 2px 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.menu {
  font-weight: initial;
}

#mainMenu,
#sideMenu,
#popupMenu {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#mainMenu::-webkit-scrollbar-thumb,
#sideMenu::-webkit-scrollbar-thumb,
#popupMenu::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#mainMenu::-webkit-scrollbar-track,
#sideMenu::-webkit-scrollbar-track,
#popupMenu::-webkit-scrollbar-track {
  background: #EDECE9;
}

#blockFn #popupMenu {
  margin: 5px 10px;
}

#blockFn #popupMenu .commentInput {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mainMenu {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  width: 240px;
}

#mainMenu::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#mainMenu::-webkit-scrollbar-track {
  background: #EDECE9;
}

#mainMenu .menu_inner {
  padding: 5% 0;
}

#mainMenu .menu_search {
  width: 100%;
}

#mainMenu .menu_search input {
  width: 90%;
  height: 1.5rem;
  font-size: 15px;
  padding-left: 6px;
  color: #8d8d8d;
  margin: 0 5%;
  border-radius: 5px;
  background-color: rgba(242, 241, 238, 0.6);
  border: 1px solid #B9B8B6;
  -webkit-box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
          box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
}

#mainMenu .menu_search input::-webkit-input-placeholder {
  color: #B9B8B6;
}

#mainMenu .menu_search input:-ms-input-placeholder {
  color: #B9B8B6;
}

#mainMenu .menu_search input::-ms-input-placeholder {
  color: #B9B8B6;
}

#mainMenu .menu_search input::placeholder {
  color: #B9B8B6;
}

#mainMenu .menu_search input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3.5px solid #a9e2f5;
  border: none;
}

#mainMenu #menu_editBtns > button > div,
#mainMenu .menu_edit_inform {
  width: 90%;
  margin: 3% 5%;
}

#mainMenu #menu_editBtns .menu_editBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

#mainMenu #menu_editBtns .menu_editBtn > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainMenu #menu_editBtns .menu_editBtn span {
  font-size: 14px;
  text-align: center;
}

#mainMenu #menu_editBtns .menu_editBtn svg:first-child {
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 8px;
}

#mainMenu #menu_editBtns .menu_editBtn span:nth-child(3) {
  position: absolute;
  right: 1rem;
  color: #B9B8B6;
}

#mainMenu #menu_editBtns .menu_editBtn span:nth-child(3) svg {
  font-size: 18px;
}

#mainMenu #menu_editBtns .menu_editBtn.off {
  display: none;
}

#mainMenu #menu_editBtns .menu_editBtn .underline {
  border-top: 1px solid #B9B8B6;
}

#mainMenu #menu_editBtns .menu_editBtn .arrowDown svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#sideMenu > div {
  width: 250px;
}

#sideMenu .noResult {
  display: none;
}

.menu_color {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  overflow-y: scroll;
  z-index: 10;
  height: 380px;
  color: initial;
  font-weight: initial;
}

.menu_color::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

.menu_color::-webkit-scrollbar-track {
  background: #EDECE9;
}

.menu_color section > header {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #B9B8B6;
}

.menu_color section {
  padding: 3%;
}

.menu_color section > header,
.menu_color .colorIcon {
  margin: 0 5px;
}

.menu_color .colorInform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  padding: 5px 0;
  width: 100%;
}

.menu_color .colorInform span {
  height: 22px;
}

.menu_color .colorIcon {
  border: 1px solid #d6d6d6;
}

.menu_color .colorName {
  margin-left: 5px;
}

#pageMenu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#pageMenu .inner {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

#pageMenu .search input {
  width: 90%;
  height: 1.5rem;
  font-size: 15px;
  padding-left: 6px;
  color: #8d8d8d;
  margin: 0 5%;
  border-radius: 5px;
  background-color: rgba(242, 241, 238, 0.6);
  border: 1px solid #B9B8B6;
  -webkit-box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
          box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
}

#pageMenu .search input::-webkit-input-placeholder {
  color: #B9B8B6;
}

#pageMenu .search input:-ms-input-placeholder {
  color: #B9B8B6;
}

#pageMenu .search input::-ms-input-placeholder {
  color: #B9B8B6;
}

#pageMenu .search input::placeholder {
  color: #B9B8B6;
}

#pageMenu .search input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3.5px solid #a9e2f5;
  border: none;
}

#pageMenu .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  width: 90%;
  margin: 5%;
}

#pageMenu .pages header {
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

#pageMenu #new_sub_page {
  width: 100%;
  text-align: left;
  border-top: 1px solid #d6d6d6;
  padding: 5px 0;
  padding-left: 5%;
}

#pageMenu #new_sub_page svg {
  font-weight: bolder;
  margin-right: 5px;
}

#pageMenu #new_sub_page span {
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 400;
}

#pageMenu .page_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#moveTo_pageMenu #pageSugested, #moveTo_pageMenu #new_sub_page {
  display: none;
}

.editor {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.editor::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

.editor::-webkit-scrollbar-thumb {
  background-color: #D3D1CB;
}

.editor::-webkit-scrollbar-track {
  background-color: #edece9;
}

.editor .isInTrash {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eb5757;
  color: #ffff;
  font-size: 14px;
}

.editor .isInTrash .isInTrashBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.editor .isInTrash button {
  color: #ffff;
  border: 1px solid #ffff;
  border-radius: 3px;
  padding: 5px;
  margin-left: 8px;
  font-size: 13px;
}

.editor .topbar {
  width: 100%;
  height: 45px;
  padding-left: 12px;
  padding-right: 14px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #37352f;
}

.editor .topbar > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor .topbar svg {
  color: inherit;
  font-size: 1rem;
}

.editor .pagePathes,
.editor .pageFun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: inherit;
}

.editor .pagePathes {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.editor .pageFun,
.editor #sideBarBtn {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.editor #sideBarBtn,
.editor .pagePathes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor #sideBarBtn {
  margin-right: 5px;
}

.editor .pagePathes a, .editor .pagePathes span {
  text-align: center;
}

.editor .pagePathes span {
  margin-right: 5px;
}

.editor .pagePathes .pagePath:first-child span:first-child {
  display: none;
}

.editor .pageFun {
  width: 180PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.editor .pageFun button {
  color: inherit;
}

.editor .frame {
  width: 100%;
  height: calc(100% - 45px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  z-index: inherit;
}

.editor .frame_inner {
  width: 100%;
  height: 100%;
}

.editor .pageHeader,
.editor .pageContent {
  max-width: 100%;
  width: 100%;
  padding-left: calc(96px + env(safe-area-inset-left));
}

.editor .pageTitle,
.editor .editableBlock {
  padding-right: calc(96px + env(safe-area-inset-left));
}

.editor .subBlocks .editableBlock {
  padding-right: 0;
}

.editor .pageHeader > div {
  position: relative;
}

.editor .pageHeader .deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 4px;
  height: 24px;
}

.editor .pageHeader .deco button {
  height: 100%;
  color: #B9B8B6;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 6px;
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.editor .pageHeader .deco button svg {
  padding-right: 5px;
}

.editor .pageHeader .pageIcon {
  width: 78px;
  height: 78px;
  -webkit-transition: opacity 100ms ease-in 0s;
  transition: opacity 100ms ease-in 0s;
  opacity: 1;
  font-size: 48px;
}

.editor .pageHeader .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
}

.editor .pageHeader .comments > div {
  font-size: 14px;
}

.editor .pageHeader .comments .firstLetter {
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}

.editor .pageHeader .comments .firstLetter span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 14px;
}

.editor .pageHeader .pageTitle {
  font-size: 40px;
}

.editor .newPageFrame {
  color: #B9B8B6;
}

.editor .newPageFrame span {
  color: #B9B8B6;
}

.edit_inform {
  border-top: 1px solid #B9B8B6;
  font-size: 14px;
  text-align: left;
  color: #B9B8B6;
  margin-bottom: 0;
}

.edit_inform p {
  margin: 2px 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.sideBar_close .frame, .sideBar_float .frame {
  z-index: 1;
}

.sideBar_close .frame div, .sideBar_close .frame button, .sideBar_float .frame div, .sideBar_float .frame button {
  z-index: inherit;
}

.sideBar_close .sideBar, .sideBar_float .sideBar {
  position: absolute;
  z-index: 10;
}

.sideBar_close .sideBarPageFn button, .sideBar_float .sideBarPageFn button {
  color: #707070;
}

.sideBar_close .sideBarBtn, .sideBar_float .sideBarBtn {
  display: none;
}

.sideBar_close .sideBar {
  -webkit-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
}

.sideBar_float .sideBar {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  top: 45px;
  left: 0;
  background-color: #ffff;
  width: 230px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sideBar_float .sideBar::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

.sideBar_float .sideBar::-webkit-scrollbar-track {
  background: #EDECE9;
}

.sideBar_lock .sideBar {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.sideBar {
  display: block;
  width: 250px;
  height: 100%;
  background-color: #F7F6F3;
  -webkit-transition: -webkit-transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sideBar_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
}

.sideBar .itemInner span,
.sideBar .subPage.no span {
  color: #8d8d8d;
  font-weight: 500;
}

.sideBar .itemInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 14px;
  font-size: 14px;
  text-align: center;
  min-height: 27px;
}

.sideBar .itemInner .record-icon, .sideBar .itemInner svg {
  margin-right: 8px;
}

.sideBar .itemInner svg {
  font-size: 18px;
  font-weight: bolder;
  color: #a3a3a2;
}

.sideBar .list .itemInner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sideBar .switcher .itemInner, .sideBar .fun1 .itemInner {
  font-size: 13px;
}

.sideBar .sideBarPageFn {
  display: none;
}

.sideBar .sideBarPageFn.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 5px;
}

.sideBar .sideBarPageFn.on button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  color: #a3a3a2;
}

.sideBar .sideBarPageFn.on button svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0;
}

.sideBar .sideBarBtn {
  color: #a3a3a2;
  font-weight: bolder;
  font-size: 20px;
}

.sideBar .sideBarBtn svg {
  margin-right: 0;
}

.sideBar .openSideBarBtn {
  position: absolute;
  top: 10px;
  right: -10%;
}

.sideBar .switcher .itemInner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 14px;
}

.sideBar .switcher .itemInner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sideBar .record-icon {
  background-color: #B9B8B6;
  color: #ffff;
  border-radius: 3px;
  text-align: center;
  width: 18px;
  height: 18px;
  text-transform: uppercase;
}

.sideBar .record-icon div {
  font-size: 12.5px;
}

.sideBar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sideBar .user div:first-child {
  font-weight: 500;
}

.sideBar .user div:nth-child(2) {
  margin-top: -5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sideBar .user div:nth-child(2) svg {
  margin-right: 0;
  color: #a3a3a2;
  font-weight: bolder;
}

.sideBar .fun1 {
  border-top: none;
  padding-bottom: 20px;
}

.sideBar .fun1 .itemInner span {
  font-size: 12px;
  color: rgba(25, 23, 17, 0.753);
  font-weight: initial;
}

.sideBar .srcoller {
  padding: 16px 0;
  height: 50%;
  overflow: hidden auto;
}

.sideBar .srcoller::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

.sideBar .srcoller::-webkit-scrollbar-thumb {
  background-color: #D3D1CB;
}

.sideBar .srcoller::-webkit-scrollbar-track {
  background-color: #edece9;
}

.sideBar .srcoller ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sideBar .srcoller li {
  padding: 0;
}

.sideBar .srcoller .favorites,
.sideBar .srcoller .private {
  margin-bottom: 20px;
}

.sideBar .srcoller .header {
  padding: 0 14px;
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: 500;
  color: #a3a3a2;
}

.sideBar .srcoller .list .page {
  width: 100%;
}

.sideBar .srcoller .subPage {
  display: none;
}

.sideBar .srcoller .subPage.on {
  display: block;
  margin: 5px 0;
  margin-left: 18px;
}

.sideBar .srcoller .itemInner {
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sideBar .srcoller .pageItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sideBar .srcoller .toggleBtn svg {
  margin-right: 0;
}

.sideBar .srcoller .pageName {
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideBar .srcoller .pageName span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideBar .srcoller .pageName svg {
  font-size: 13px;
  margin-right: 0;
}

.sideBar .srcoller .pageName span:first-child {
  margin-right: 5px;
}

.sideBar .srcoller .subPage.no {
  margin-left: 36px;
}

.sideBar .srcoller .subPage.no span {
  font-size: 13px;
}

.sideBar .srcoller .addPageBtn {
  width: 18px;
  height: 18px;
}

.sideBar .srcoller .addPageBtn svg {
  margin-right: 0;
  font-size: 16px;
}

.sideBar .srcoller .inside {
  display: none;
}

.sideBar .srcoller .inside.on {
  display: block;
}

.sideBar .private .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sideBar .private .header svg {
  color: #B9B8B6;
}

.sideBar .fun2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  color: #707070;
}

.sideBar .fun2 .itemInner {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sideBar .fun2 .itemInner svg, .sideBar .fun2 .itemInner span {
  color: #707070;
}

.sideBar .addNewPageBtn {
  width: 100%;
  height: 45px;
  min-height: 27px;
  border-top: 1px solid #d6d6d6;
}

.sideBar .addNewPageBtn:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

.sideBar .addNewPageBtn button {
  color: #707070;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 2px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideBar .addNewPageBtn button svg {
  color: #a3a3a2;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 8px;
  font-size: 1rem;
  font-weight: bolder;
}

#moreFn {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  width: 230px;
}

#moreFn::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#moreFn::-webkit-scrollbar-track {
  background: #EDECE9;
}

#moreFn button {
  padding: 3%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

#moreFn button > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#moreFn button span {
  font-size: 14px;
  text-align: center;
}

#moreFn button svg:first-child {
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 8px;
}

#moreFn button span:nth-child(3) {
  position: absolute;
  right: 1rem;
  color: #B9B8B6;
}

#moreFn button span:nth-child(3) svg {
  font-size: 18px;
}

#moreFn p {
  margin: 0;
  margin-left: 5px;
  padding: 3%;
  color: #8d8d8d;
}

#rename {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5%;
}

#rename::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#rename::-webkit-scrollbar-track {
  background: #EDECE9;
}

#rename input {
  border: 1px solid #d6d6d6;
  border-radius: 1px;
  min-height: 27px;
}

#rename .rename_icon {
  width: 9%;
}

#rename .rename_title {
  width: 81%;
}

#sideBar_pageMenu {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  z-index: 15;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3%;
}

#sideBar_pageMenu::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#sideBar_pageMenu::-webkit-scrollbar-track {
  background: #EDECE9;
}

.edit_inform {
  border-top: 1px solid #B9B8B6;
  font-size: 14px;
  text-align: left;
  color: #B9B8B6;
  margin-bottom: 0;
}

.edit_inform p {
  margin: 2px 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#trash {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  width: 414px;
  min-width: 180px;
  max-width: calc(100vw - 24px);
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 70vh;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#trash::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#trash::-webkit-scrollbar-track {
  background: #EDECE9;
}

#trash .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-left: 5px;
  width: calc(100% - 5px);
}

#trash .header button {
  margin-right: 2rem;
  z-index: 15;
}

#trash .header button:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

#trash .search input {
  width: 90%;
  height: 1.5rem;
  font-size: 15px;
  padding-left: 6px;
  color: #8d8d8d;
  margin: 0 5%;
  border-radius: 5px;
  background-color: rgba(242, 241, 238, 0.6);
  border: 1px solid #B9B8B6;
  -webkit-box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
          box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  width: calc(100% - 5px);
  font-size: 14px;
}

#trash .search input::-webkit-input-placeholder {
  color: #B9B8B6;
}

#trash .search input:-ms-input-placeholder {
  color: #B9B8B6;
}

#trash .search input::-ms-input-placeholder {
  color: #B9B8B6;
}

#trash .search input::placeholder {
  color: #B9B8B6;
}

#trash .search input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3.5px solid #a9e2f5;
  border: none;
}

#trash .page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px 0;
}

#trash .page:hover {
  background-color: #F7F6F3;
}

#trash .page .btns button {
  font-size: 1rem;
  padding: 5px;
}

#trash .page .btns button:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

#trash .page .btns svg {
  color: #707070;
}

#trash .result {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#trash .noResult,
#trash .noTrash {
  margin-top: 10px;
  color: #d6d6d6;
  text-align: center;
}

.edit_inform {
  border-top: 1px solid #B9B8B6;
  font-size: 14px;
  text-align: left;
  color: #B9B8B6;
  margin-bottom: 0;
}

.edit_inform p {
  margin: 2px 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#quickFindBord {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.53);
  width: 100vw;
  height: 100vh;
}

#quickFindBord .inner {
  background-color: #ffff;
  border-radius: 2px;
  position: relative;
  top: 90px;
  left: 12.5%;
  width: 75%;
  max-height: 80vh;
  max-width: 600px;
  z-index: 15;
  overflow: hidden;
  -webkit-box-shadow: rgba(15, 15, 15, 0.039) 0px 0px 0px 1px;
          box-shadow: rgba(15, 15, 15, 0.039) 0px 0px 0px 1px;
}

#quickFindBord .inner {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#quickFindBord .inner > div > div {
  padding: 10px;
}

#quickFindBord .qf_search {
  padding: 1rem 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3.3rem;
  font-size: 1.1rem;
  border-bottom: 1px solid #B9B8B6;
}

#quickFindBord .qf_search svg {
  color: #B9B8B6;
  margin-left: 5px;
}

#quickFindBord .qf_search input {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 1.1rem;
  font-weight: lighter;
  margin-left: 10px;
}

#quickFindBord .qf_search input::-webkit-input-placeholder {
  color: #B9B8B6;
}

#quickFindBord .qf_search input:-ms-input-placeholder {
  color: #B9B8B6;
}

#quickFindBord .qf_search input::-ms-input-placeholder {
  color: #B9B8B6;
}

#quickFindBord .qf_search input::placeholder {
  color: #B9B8B6;
}

#quickFindBord .qf_search input:focus {
  outline: none;
}

#quickFindBord .qf_results {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}

#quickFindBord .qf_results .header,
#quickFindBord .qf_results .body {
  margin-bottom: 14px;
}

#quickFindBord .qf_results .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #8d8d8d;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 5px;
}

#quickFindBord .qf_results .header p {
  margin: 0;
}

#quickFindBord .qf_results .header button {
  color: #8d8d8d;
}

#quickFindBord .qf_results .header .addFilterBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2eaadc;
  font-size: inherit;
}

#quickFindBord .qf_results .header .addFilterBtn:hover {
  background-color: rgba(46, 171, 220, 0.164);
}

#quickFindBord .qf_results .clearBtn {
  padding: 5px;
}

#quickFindBord .qf_results .clearBtn:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

#quickFindBord .qf_results .sort {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#quickFindBord .qf_results .sort_selecter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#quickFindBord .qf_results .sort_selecter > button {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quickFindBord .qf_results .sort_selecter > button svg {
  margin-left: 5px;
}

#quickFindBord .qf_results .sort_options {
  display: none;
}

#quickFindBord .qf_results .sort_options.on {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  z-index: 20;
  left: 30px;
  top: 1.2rem;
  display: flex;
  position: absolute;
  border-radius: 3px;
  flex-direction: column;
  width: 180px;
}

#quickFindBord .qf_results .sort_options.on::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#quickFindBord .qf_results .sort_options.on::-webkit-scrollbar-track {
  background: #EDECE9;
}

#quickFindBord .qf_results .sort_options.on button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  color: #707070;
}

#quickFindBord .qf_results .sort_options.on button .checkIcon {
  display: none;
}

#quickFindBord .qf_results .sort_options.on button:first-child {
  padding-top: 10px;
}

#quickFindBord .qf_results .sort_options.on button:last-child {
  padding-bottom: 10px;
}

#quickFindBord .qf_results .sort_options.on button:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

#quickFindBord .qf_results .sort_options.on .selected .checkIcon {
  display: block;
  color: #2eaadc;
  font-size: 14px;
  font-weight: bolder;
}

#quickFindBord .qf_results .body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#quickFindBord .qf_results .noResult,
#quickFindBord .qf_results .noRecentPages {
  color: #707070;
  font-size: 14px;
  text-align: center;
}

#quickFindBord .qf_results .noResult p {
  margin: 0;
}

#quickFindBord .qf_results .noResult p:nth-child(2) {
  color: #B9B8B6;
}

#quickFindBord .qf_results .noResult button {
  color: #2eaadc;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px 5px;
}

.result .pageTitle {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.result .pageIcon {
  margin-right: 10px;
}

.result .pageIcon svg {
  width: 100%;
  height: 100%;
  font-size: inherit;
}

.result .path {
  color: #B9B8B6;
  font-size: 12px;
  margin-left: 5px;
}

.result .path span {
  margin-right: 5px;
}

#quickFindBord .result > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#trash .result {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trash .result .pageTitle {
  text-align: left;
}

#trash .result .path {
  margin-left: 0;
}

#trash .result .path span {
  display: none;
}

#inner {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
}
/*# sourceMappingURL=main.css.map */