@import './allComments';
@import './blockStyler';
@import './comment';
@import './commandBlock';
@import './editor';
@import './export';
@import './iconModal';
@import './imageContent';
@import './loader';
@import './loading';
@import './menu';
@import './mobileBlockMenu';
@import './sideBar';
@import './templates';
@import './trash';
@import './quickFindBord';
@import './rename';
@import './result';
body, #root, #inner{
  overflow-x:hidden ;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
}
#inner {
  display: flex;
  color:$black;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.editor{
  overflow-y: hidden;
}

@media screen and (max-width:768px) {
  #inner{
    overflow-y: hidden;
  }
}
