div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.editableBlock {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 1rem;
  margin-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 calc(96px);
}

.mainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mainBlock .mainBlock_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.subBlocks .editableBlock {
  padding: 0;
  padding-left: 20px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.editabelBlock,
.blockFn button {
  font-size: 1rem;
  line-height: 24px;
}

.blockFn {
  display: none;
}

.blockFn.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding-right: 3rem;
}

.blockFn.on .blockFnIcon {
  font-size: 1.2rem;
  font-weight: bolder;
}

.blockFn.on .blockFnIcon svg {
  color: #a3a3a2;
}

.blockFn button:hover,
.toggle.block .left:hover {
  background-color: #d6d6d6;
}

.contentEditable {
  font-size: inherit;
}

.contentEditable:focus-visible {
  outline: none;
}

.h1.block {
  margin-top: 32px;
  font-size: 40px;
  font-weight: 700;
}

.h2.block {
  margin-top: 22.4px;
  font-size: 24px;
  font-weight: 600;
}

.h3.block {
  font-size: 1rem;
}

.text.block {
  margin-top: 2px;
}

.todo.block .left,
.toggle.block .left,
.page.block .left {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  font-size: 17px;
}

.todo.block svg,
.toggle.block svg,
.page.block svg {
  width: inherit;
  height: inherit;
  font-size: inherit;
}

.toggle.block button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a3a3a2;
}

.toggle.block .subBlocks {
  display: none;
}

.toggle.on.block .subBlocks {
  display: block;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list .list_marker {
  padding-right: 8px;
}

.list .list_marker svg {
  font-size: 11px;
}

.blockToggleBtn svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.blockToggleBtn.on svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.blockContents {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1% 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blockContents .contents.commentBtn {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.8);
}

.blockContents .contents.commentBtn:hover {
  background-color: rgba(255, 212, 0, 0.8);
}

.blockContents .contents:empty::after {
  content: attr(placeholder);
  color: #B9B8B6;
}

.commentBtn.btnIcon svg, .commentBtn.btnIcon span {
  color: #a3a3a2;
}

#commandBlock {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
}

#commandBlock::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#commandBlock::-webkit-scrollbar-track {
  background: #EDECE9;
}

#commandBlock_inner {
  padding: 5px;
  height: 350px;
}

#commandBlock .command > header {
  padding: 0 14px;
  margin-top: 6px;
  margin-bottom: 8px;
  color: rgba(55, 53, 47, 0.65);
  font-size: 11px;
  font-weight: 500;
  line-height: 120%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}

#commandBlock .command_btn {
  display: none;
}

#commandBlock .command_btn.on {
  display: block;
  width: 100%;
  padding: 2% 0;
  border-radius: 3px;
}

#commandBlock .command_btn.on:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

#commandBlock .command_btn.on.first {
  background-color: rgba(55, 53, 47, 0.08);
}

#commandBlock .command_btn_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1%;
}

#commandBlock .command_btn_left {
  width: 38px;
  height: 38px;
  padding: 7px;
  font-size: 24px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}

#commandBlock .headerType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#commandBlock .headerType span:first-child {
  font-size: 20px;
}

#commandBlock .headerType span:last-child {
  font-size: 14px;
  font-weight: 600;
  padding-top: 30%;
}

#commandBlock .command_btn_right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-left: 10px;
}

#commandBlock .command_btn_right header, #commandBlock .command_btn_right .command_explanation {
  text-align: left;
}

#commandBlock .command_btn_right header {
  font-size: 14px;
}

#commandBlock .command_btn_right .command_explanation {
  padding-top: 3px;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.65);
}

#commandBlock .no_result {
  color: rgba(55, 53, 47, 0.65);
  padding: 2% 10%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.blockId_comments .comments {
  display: none;
}

.blockId_comments.open {
  z-index: 5;
}

.blockId_comments.open .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blockId_comments.open .commentBtn.btnIcon {
  display: none;
}

.comments {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  z-index: 10;
  padding: 3%;
  width: 100%;
}

.comments::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

.comments::-webkit-scrollbar-track {
  background: #EDECE9;
}

.comments .firstLetter {
  border-radius: 50%;
  border: 1px solid black;
  color: black;
  aspect-ratio: 1;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1rem;
  font-weight: initial;
  width: 24px;
  height: 24px;
}

.commentBlock section {
  margin-bottom: 10px;
}

.commentBlock .comment_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 24px;
}

.commentBlock .comment_header .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
}

.commentBlock .comment_header .userName {
  margin: 0 10px;
  font-weight: bold;
}

.commentBlock .comment_header .time {
  margin: 0;
  color: #a3a3a2;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commentBlock .comment_header .tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #a3a3a2;
  border-radius: 2px;
}

.commentBlock .comment_header .tool button {
  color: #a3a3a2;
  height: 24px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.commentBlock .comment_header .tool button svg {
  font-size: 1.1rem;
  font-weight: bolder;
}

.commentBlock .comment_header .tool .resolveTool {
  border-right: 1px solid #a3a3a2;
}

.commentBlock .comment_block, .commentBlock .comment_content {
  margin-left: 34px;
}

.commentBlock .comment_block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(55, 53, 47, 0.65);
}

.commentBlock .comment_block_line {
  width: 3px;
  border-radius: 3px;
  margin-left: 2px;
  margin-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-bottom: 2px;
  background: rgba(255, 212, 0, 0.8);
}

.commentInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94%;
  height: 24px;
}

.commentInput form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: inherit;
  width: calc( 100% - 24px);
  position: relative;
}

.commentInput input[type="text"] {
  padding: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 80%;
  margin-left: 5px;
}

.commentInput #commentInputSubmit {
  position: absolute;
  top: 0;
  left: 80%;
}

.commentInput .commentText {
  border: none;
}

.commentInput .commentText:focus {
  outline: none;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

.menu {
  font-weight: initial;
}

#mainMenu {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  width: 240px;
}

#mainMenu::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#mainMenu::-webkit-scrollbar-track {
  background: #EDECE9;
}

#mainMenu .menu_inner {
  padding: 5% 0;
}

#mainMenu .menu_search {
  width: 100%;
}

#mainMenu .menu_search input {
  width: 90%;
  height: 1.5rem;
  font-size: 15px;
  padding-left: 6px;
  color: rgba(55, 53, 47, 0.65);
  margin: 0 5%;
  border-radius: 5px;
  background-color: rgba(242, 241, 238, 0.6);
  border: 1px solid #B9B8B6;
  -webkit-box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
          box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
}

#mainMenu .menu_search input::-webkit-input-placeholder {
  color: #B9B8B6;
}

#mainMenu .menu_search input:-ms-input-placeholder {
  color: #B9B8B6;
}

#mainMenu .menu_search input::-ms-input-placeholder {
  color: #B9B8B6;
}

#mainMenu .menu_search input::placeholder {
  color: #B9B8B6;
}

#mainMenu .menu_search input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3.5px solid #a9e2f5;
  border: none;
}

#mainMenu #menu_editBtns > button > div,
#mainMenu .menu_edit_inform {
  width: 90%;
  margin: 3% 5%;
}

#mainMenu #menu_editBtns .menu_editBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1rem;
}

#mainMenu #menu_editBtns .menu_editBtn.off {
  display: none;
}

#mainMenu #menu_editBtns .menu_editBtn > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainMenu #menu_editBtns .menu_editBtn span {
  font-size: 14px;
  text-align: center;
}

#mainMenu #menu_editBtns .menu_editBtn svg:first-child {
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 8px;
}

#mainMenu #menu_editBtns .menu_editBtn span:nth-child(3) {
  position: absolute;
  right: 1rem;
  color: #B9B8B6;
}

#mainMenu #menu_editBtns .menu_editBtn span:nth-child(3) svg {
  font-size: 18px;
}

#mainMenu #menu_editBtns .menu_editBtn .arrowDown svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#mainMenu .underline {
  border-bottom: 1px solid #B9B8B6;
}

#mainMenu .menu_edit_inform {
  font-size: 14px;
  text-align: left;
  color: #B9B8B6;
  margin-bottom: 0;
}

#mainMenu .menu_edit_inform p {
  margin: 2px 0;
}

#sideMenu > div {
  width: 250px;
}

#sideMenu .no_result {
  display: none;
}

.menu_color {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
  overflow-y: scroll;
  z-index: 10;
  height: 380px;
  color: initial;
  font-weight: initial;
}

.menu_color::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

.menu_color::-webkit-scrollbar-track {
  background: #EDECE9;
}

.menu_color section > header {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #B9B8B6;
}

.menu_color section {
  padding: 3%;
}

.menu_color section > header,
.menu_color .colorIcon {
  margin: 0 5px;
}

.menu_color .colorInform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  padding: 5px 0;
  width: 100%;
}

.menu_color .colorInform span {
  height: 22px;
}

.menu_color .colorIcon {
  border: 1px solid #d6d6d6;
}

.menu_color .colorName {
  margin-left: 5px;
}

#pageMenu {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;
}

#pageMenu::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}

#pageMenu::-webkit-scrollbar-track {
  background: #EDECE9;
}

#pageMenu .inner {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

#pageMenu .search input {
  width: 90%;
  height: 1.5rem;
  font-size: 15px;
  padding-left: 6px;
  color: rgba(55, 53, 47, 0.65);
  margin: 0 5%;
  border-radius: 5px;
  background-color: rgba(242, 241, 238, 0.6);
  border: 1px solid #B9B8B6;
  -webkit-box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
          box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
}

#pageMenu .search input::-webkit-input-placeholder {
  color: #B9B8B6;
}

#pageMenu .search input:-ms-input-placeholder {
  color: #B9B8B6;
}

#pageMenu .search input::-ms-input-placeholder {
  color: #B9B8B6;
}

#pageMenu .search input::placeholder {
  color: #B9B8B6;
}

#pageMenu .search input:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 3.5px solid #a9e2f5;
  border: none;
}

#pageMenu .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  width: 90%;
  margin: 5%;
}

#pageMenu .pages header {
  color: rgba(55, 53, 47, 0.65);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

#pageMenu #new_sub_page {
  border-top: 1px solid #d6d6d6;
  padding: 5px 0;
  padding-left: 5%;
}

#pageMenu #new_sub_page svg {
  font-weight: bolder;
  margin-right: 5px;
}

#pageMenu #new_sub_page span {
  color: rgba(55, 53, 47, 0.65);
  font-size: 14px;
  font-weight: 400;
}

#pageMenu .page_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#moveTo_pageMenu #pageSugested, #moveTo_pageMenu #new_sub_page {
  display: none;
}

.editor {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editor::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

.editor::-webkit-scrollbar-thumb {
  background-color: #D3D1CB;
}

.editor::-webkit-scrollbar-track {
  background-color: #edece9;
}

.editor .topbar {
  width: 100%;
  height: 45px;
  padding-left: 12px;
  padding-right: 14px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editor .pagePathes,
.editor .pageFun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.editor .pagePathes {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.editor .pageFun,
.editor .sideBarBtn {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.editor .sideBarBtn,
.editor .pagePathes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor .sideBarBtn {
  font-size: 18px;
  margin-right: 5px;
}

.editor .pagePathes span {
  margin-right: 5px;
}

.editor .pagePathes .pagePath:first-child span:first-child {
  display: none;
}

.editor .pageFun {
  width: 180PX;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 18px;
}

.editor .pageFun svg {
  font-size: 20px;
}

.editor .frame {
  width: 100%;
  height: calc(100% - 45px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.editor .frame_inner {
  width: 100%;
  height: 100%;
}

.editor .pageHeader,
.editor .pageContent {
  max-width: 100%;
  width: 100%;
}

.editor .pageHeader {
  padding: 0 calc(96px);
}

.editor .pageHeader > div {
  position: relative;
}

.editor .pageHeader .deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 4px;
  height: 24px;
}

.editor .pageHeader .deco button {
  height: 100%;
  color: #B9B8B6;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 6px;
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.editor .pageHeader .deco button svg {
  padding-right: 5px;
}

.editor .pageHeader .pageIcon {
  width: 78px;
  height: 78px;
  -webkit-transition: opacity 100ms ease-in 0s;
  transition: opacity 100ms ease-in 0s;
  opacity: 1;
  font-size: 48px;
}

.editor .pageHeader .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
}

.editor .pageHeader .comments > div {
  font-size: 14px;
}

.editor .pageHeader .comments .firstLetter {
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}

.editor .pageHeader .comments .firstLetter span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  font-size: 14px;
}

.editor .pageHeader .pageTitle {
  font-size: 40px;
}

.editor .newPageFrame {
  color: #B9B8B6;
}

.editor .newPageFrame span {
  color: #B9B8B6;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pageLink:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

ul li,
ol li {
  padding-left: 10px;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#sideBar {
  width: 240px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  background-color: #F7F6F3;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

#sideBar_inner {
  z-index: 999;
  height: 100%;
  width: 100%;
}

#sideBar_inner > div {
  border-top: 1px solid #d6d6d6;
}

#sideBar .itemInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 14px;
  font-size: 14px;
  text-align: center;
}

#sideBar .itemInner span {
  color: rgba(55, 53, 47, 0.65);
  font-weight: 500;
}

#sideBar .itemInner #record-icon, #sideBar .itemInner svg {
  margin-right: 8px;
}

#sideBar .itemInner svg {
  font-size: 18px;
  font-weight: bolder;
  color: #a3a3a2;
}

#sideBar .sideBarBtn {
  color: #a3a3a2;
  font-weight: bolder;
  font-size: 20px;
}

#sideBar .sideBarBtn svg {
  margin-right: 0;
}

#sideBar #openSideBarBtn {
  position: absolute;
  top: 10px;
  right: -10%;
}

#sideBar .switcher .itemInner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 14px;
}

#sideBar .switcher .itemInner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sideBar #record-icon {
  background-color: #B9B8B6;
  color: #F7F6F3;
  border-radius: 3px;
  text-align: center;
  width: 18px;
  height: 18px;
  text-transform: uppercase;
}

#sideBar #record-icon div {
  font-size: 12.5px;
}

#sideBar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sideBar .user div:first-child {
  font-weight: 500;
}

#sideBar .user div:nth-child(2) {
  margin-top: -5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#sideBar .user div:nth-child(2) svg {
  margin-right: 0;
  color: #a3a3a2;
  font-weight: bolder;
}

#sideBar .fun1 {
  border-top: none;
  padding-bottom: 20px;
}

#sideBar .srcoller {
  padding: 16px 0;
  height: 50%;
  overflow: hidden auto;
}

#sideBar .srcoller::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

#sideBar .srcoller::-webkit-scrollbar-thumb {
  background-color: #D3D1CB;
}

#sideBar .srcoller::-webkit-scrollbar-track {
  background-color: #edece9;
}

#sideBar .srcoller .favorites,
#sideBar .srcoller .private {
  margin-bottom: 20px;
}

#sideBar .srcoller .header {
  padding: 0 14px;
  font-size: 12px;
  font-weight: 500;
  color: #a3a3a2;
}

#sideBar .srcoller .list .page {
  width: 100%;
}

#sideBar .srcoller .itemInner {
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sideBar .srcoller .pageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#sideBar .srcoller .toggleBtn svg {
  margin-right: 0;
}

#sideBar .srcoller .pageName span:first-child {
  margin-right: 5px;
}

#sideBar .srcoller .addPageBtn {
  border: 1px solid #B9B8B6;
  width: 18px;
  height: 18px;
}

#sideBar .srcoller .addPageBtn svg {
  margin-right: 0;
  font-size: 16px;
}

#sideBar .srcoller .inside {
  display: none;
}

#sideBar .srcoller .inside.on {
  display: block;
}

#sideBar .private .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sideBar .private .header svg {
  color: #B9B8B6;
}

#sideBar .fun2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(55, 53, 47, 0.65);
  font-weight: 500;
}

#sideBar .fun2 .itemInner {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#sideBar .addNewPage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  min-height: 27px;
}

#sideBar .addNewPage:hover {
  background-color: rgba(49, 45, 33, 0.11);
}

#sideBar .addNewPage button {
  color: rgba(55, 53, 47, 0.65);
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding: 2px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sideBar .addNewPage button svg {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 8px;
  font-size: 1rem;
  font-weight: 700;
}

#inner {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
}
/*# sourceMappingURL=main.css.map */