@import './allComments';
@import './commandBlock';
@import './editor';
@import './export';
@import './iconPopup';
@import './imageContent';
@import './loader';
@import './sideBar';
@import './trash';
@import './quickFindBord';
@import './rename';
@import './result';

#inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}