@import './allComments';
@import './editor';
@import './sideBar';
@import './trash';
@import './quickFindBord';
@import './result';

#inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}