$pistachioshell: rgb(245, 244, 243);
$mud: #929292;
$lightMud: #d6d6d6;
$brightMud: rgba(242, 241, 238, 0.6);
$itemSvg: #5a5a5a;
$itemText: rgb(82, 82, 82);
$itemHover: #edece9;
$commentHover: rgba(255, 198, 11, 0.658);
$comment: rgba(255, 196, 0, 0.347);
$comment_text: rgba(255, 196, 0, 0.183);
$darkgrey: rgb(60, 60, 60);
$turkeyBlue: rgb(46, 170, 220);
$black: rgb(40, 40, 40);
$modalBackGroundColor: rgba(0, 0, 0, 0.212);

@mixin modal {
}
@mixin initialBtn {
  border: none;
  background-color: transparent;
  padding: 0;
}
@mixin searchInput {
  width: 90%;
  height: 1.5rem;
  font-size: 15px;
  padding-left: 6px;
  color: $itemText;
  &::placeholder {
    color: $mud;
  }
  &:focus {
    box-sizing: border-box;
    outline: 3.5px solid rgb(169, 226, 245);
    border: none;
  }
  margin: 0 5%;
  border-radius: 5px;
  background-color: $brightMud;
  border: 1px solid $mud;
  box-shadow: rgba(15, 15, 15, 0.162) 0px 0px 1px inset;
}
@mixin webkitScroll {
  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d3d1cb;
  }
  &::-webkit-scrollbar-track {
    background-color: #edece9;
  }
}
@mixin hiddenScrollBar {
  &::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }
}

@mixin modalStyle {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  transform: matrix(1, 0, 0, 1, 0, 0);
  z-index: 10;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 23px -5px #ababab;
  box-shadow: 0px 0px 23px -5px #ababab;

  &::-webkit-scrollbar-thumb {
    background: #d3d1cb;
  }
  &::-webkit-scrollbar-track {
    background: #edece9;
  }
}
@mixin resetModal {
  width: initial;
  display: block;
  flex-direction: initial;
  background-color: initial;
  margin: 0;
  overflow-x: initial;
  overflow-y: initial;
  pointer-events: initial;
  transform: initial;
  z-index: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &::-webkit-scrollbar-thumb {
    background: initial;
  }
  &::-webkit-scrollbar-track {
    background: initial;
  }
}
@mixin editMenuBtnGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  & > div {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  font-size: 1rem;
  span {
    font-size: 14px;
    text-align: center;
  }
  svg:first-child {
    font-size: 1rem;
    margin: {
      left: 5px;
      right: 8px;
    }
  }
  span:nth-child(3) {
    position: absolute;
    right: 1rem;
    color: $mud;
    svg {
      font-size: 18px;
    }
  }
}
label {
  width: 100%;
}
.btn-switch {
  position: relative;
  width: 30px;
  height: 15px;
  .slider {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    bottom: 1.5px;
    left: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider.on {
    background-color: $turkeyBlue;
    box-shadow: 0 0 1px $turkeyBlue;
  }
  .slider.on:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}
#notion__inner .edit__inform {
  color: $darkgrey;
}
.edit__inform {
  border-top: 1px solid $mud;
  font-size: 12px;
  text-align: left;
  margin-bottom: 0;
  p {
    margin: 10px 0 0 10px;
  }
}
div {
  box-sizing: border-box;
  pointer-events: auto;
  @include webkitScroll;
}
.link-page {
  &:hover {
    background-color: $itemHover;
  }
}

button {
  @include initialBtn;
  user-select: none;
  cursor: pointer;
  transition: background-color 20ms ease-in 0s;
  font-size: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  li {
    padding-left: 10px;
  }
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
