@import "./common";
#mobileBlockMenu {
  @include modalStyle;
  position: absolute;
  left: 5%;
  min-width: 250px;
  max-width: 80%;
  width: fit-content;
  overflow-y: hidden;
  overflow-x: auto;
  .inner {
    display: flex;
    justify-content: space-around;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    min-width: 24px;
    font-size: 1rem;
    border-right: 1px solid rgb(212, 212, 212);
    .text {
      font-size: 14px;
      min-width: fit-content;
    }
    .mobileBlock__btn__inner {
      width: 80%;
      height: calc(100% - 10px);
      margin: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  button:last-child {
    border-right: none;
    padding-right: 4px;
  }
  .btn-add-block,
  .btn-comment,
  .btn-delete {
    flex-grow: 1;
  }
  .btn-turn-into {
    flex-grow: 3;
  }
  .btn-color,
  .btn-open-menu {
    flex-grow: 2;
  }
  .arrow-down {
    color: grey;
    display: inline-flex;
    align-items: end;
    svg {
      height: fit-content;
    }
  }
}

#mobileSideMenu {
  position: absolute;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  .inner {
    position: relative;
  }
  .top {
    height: 2rem;
    background-color: #ffff;
    text-align: center;
    position: relative;
    div {
      line-height: 2rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
    }
    div,
    button {
      height: 100%;
    }
    button {
      position: absolute;
      top: 0;
      right: 1rem;
      font-size: 1rem;
    }
  }
  .contents {
    width: inherit;
    height: calc(100vh - 1.5rem);
  }
  #commandBlock,
  #pageMenu,
  .menu__color,
  .menu,
  .menu .mainMenu,
  .menu .menu__sideMenu,
  #linkLoader {
    @include resetModal;
    position: relative;
    width: 100vw;
    height: inherit;
  }
  .menu {
    .menu__inner,
    .menu__edit {
      width: 100vw;
      height: inherit;
    }
    .menu__search {
      display: none;
    }
    .mainMenu {
      .menu__inner {
        padding: 0;
      }
    }
    .menu__edit {
      position: relative;
    }
    .menu__editBtns {
      padding-top: 14px;
    }
    .edit__inform {
      position: absolute;
      bottom: 3rem;
      left: 0;
      width: 100vw;
      font-size: 14px;
    }
  }
  .menu .menu___sideMenu {
    position: absolute;
    background-color: rgb(240, 240, 240);
    top: 0;
    left: 0;
    z-index: 60;
    width: inherit;
    height: inherit;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 375px) {
  #mobileBlockMenu {
    button {
      min-width: 32px;
    }
  }
}
