#rename {
  display: flex;
  flex-direction: column;
  & > .inner {
    @include modalStyle;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    padding: 10px;
    label,
    button,
    input {
      height: 2rem;
      box-sizing: border-box;
    }
    input,
    button {
      border: 1px solid $lightMud;
      border-radius: 1px;
      font-size: 15px;
      text-align: center;
      padding: 2px;
      height: 2rem;
      box-sizing: inherit;
    }

    .rename__btn {
      width: 2rem;
      height: 2rem;
      .page__icon {
        width: 1.6rem;
        height: 1.6rem;
        margin: auto auto;
      }
      border-right: none;
    }
    label {
      width: calc(100% - 2rem);
    }
    input {
      width: 100%;
    }
  }
  #iconModal {
    position: relative;
    top: 0;
    margin-top: 10px;
  }
}
