.result {
  display: flex;
  font-size: 14px;
  height: fit-content;
  padding: 8px 5px;
  .page__title {
    min-width: fit-content;
    line-height: 1rem;
    text-align: center;
  }
  .page__icon {
    margin-right: 10px;
    width: 1.1rem;
    height: 1.1rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .path {
    color: $mud;
    font-size: 12px;
    margin-left: 5px;
    span {
      margin-right: 5px;
    }
  }
}
#quickFindBoard {
  .result {
    & > div:nth-child(2) {
      display: flex;
    }
  }
}
#trash {
  .result {
    flex-direction: row;
    align-items: center;
    .page__title {
      text-align: left;
    }
    .path {
      margin-left: 0;
      span {
        display: none;
      }
    }
  }
}
