@import "./common";

.all-comments {
  @include modalStyle;

  display: flex;
  margin-top: 45px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 100;
  border-left: 1px solid rgba(15, 15, 15, 0.1);
  transition: transform 2500ms ease;
  height: 100vh;
  width: 385px;
  pointer-events: none;
  #top-bar__tool {
    height: 45px;
  }
  .all-comments__inner {
    @include hiddenScrollBar;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: #ffff;
  }
  .all-comments__header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    font-size: 13px;
    box-sizing: border-box;
    border-bottom: 1px solid #d6d6d6;
    span {
      font-weight: 600;
    }
  }
  .all-comments__contents {
    height: calc(100% - 13px - 10px);
    & > .comments {
      border-bottom: 1px solid #d6d6d6;
    }
    .comment {
      border-top: 1px solid #d6d6d6ce;
    }
  }
  .comments {
    @include hiddenScrollBar;
    width: 100%;
    position: relative;
    pointer-events: auto;
    padding: 0;
    margin: 0;
    max-height: 40%;
    overflow-y: scroll;
  }
  .comments__comments-group {
    width: inherit;
  }

  .commentBlock__header {
    .information {
      max-width: calc(100% - 90px);
    }
    .information {
      flex-shrink: 1;
      flex-grow: 1;
    }
  }
  .all-comments__btn-group {
    pointer-events: auto;
    .btn-select {
      margin-left: 10px;
      color: $itemText;
      font-size: inherit;
      font-weight: inherit;
    }
    .type-btn-group {
      display: none;
    }
  }
  .all-comments__btn-group.open {
    position: relative;
    .type-btn-group {
      @include modalStyle;
      width: 180px;
      z-index: 110;
      position: absolute;
      top: 110%;
      right: 0;
      display: flex;
      flex-direction: column;
      button {
        padding: 10px 15px;
        &:hover {
          background-color: $itemHover;
        }
      }
      button:last-child {
        padding-top: 10px;
      }
    }
  }
  .comment {
    &:hover {
      background-color: rgba(55, 53, 47, 0.03);
    }
  }
  .no-result {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    & > div {
      width: 100%;
      position: absolute;
      top: 30%;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $mud;
      font-weight: bold;
    }
    p {
      width: 90%;
      text-align: center;
    }
    p:first-child {
      font-size: 1.5rem;
      margin-bottom: 8px;
    }
    p:last-child {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .all-comments {
    width: calc(100vw - 300px);
    border-left: none;
  }
}

@media screen and (max-width: 768px) {
  .all-comments {
    @include resetModalStyle;
    width: 100vw;
    padding-top: 0;
    margin-top: 0;
    border-left: none;
    .all-comments__header {
      padding: 10px 0;
      & > div:first-child {
        display: flex;
        button {
          margin: 0 10px;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
