@import "./common";

#menu-command {
  @include modalStyle;
  @include webkitScroll;
  position: relative;
  overflow-y: scroll;
  margin-top: 1rem;
  max-height: inherit;
  &_inner {
    position: relative;
  }
  .command > header {
    padding: 0 14px;
    margin: {
      top: 6px;
      bottom: 8px;
    }
    color: rgba(55, 53, 47, 0.65);
    font : {
      size: 11px;
      weight: 500;
    }
    line-height: 120%;
    user-select: none;
    text-transform: uppercase;
  }
  .command__btn-group {
    padding: 5px;
  }
  .btn-command {
    display: none;
    width: 100%;
    padding: 2% 0;
    border-radius: 3px;
    &:hover {
      background-color: rgba(55, 53, 47, 0.08);
      transition: backgroundColor 20ms ease-in 0s;
    }
  }
  .btn-command.on {
    display: block;
  }
  .btn-command.on.first {
    background-color: rgba(55, 53, 47, 0.08);
  }

  .btn-command__inner {
    display: flex;
    margin: 0 1%;
  }
  .btn-command__left {
    width: 38px;
    height: 38px;
    padding: 7px;
    font-size: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid $lightMud;
    border-radius: 3px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .type-media {
    border-top: 1px solid $itemSvg;
    .btn-command__left {
      padding: 0;
    }
  }
  .headerType {
    display: flex;
    span:first-child {
      font-size: 20px;
    }
    span:last-child {
      font-size: 14px;
      font-weight: 600;
      padding-top: 30%;
    }
  }
  .btn-command__right {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 10px;
    header,
    .command__explanation {
      text-align: left;
    }
    header {
      font-size: 14px;
    }
    .command__explanation {
      padding-top: 3px;
      font-size: 12px;
      color: rgba(55, 53, 47, 0.65);
    }
  }
}
#commandMenu__noResult {
  text-align: center;
  color: rgba(55, 53, 47, 0.65);
  padding: 0 10%;
  padding-bottom: 16px;
  height: fit-content;
}
