@import "./common";

.editor.nonePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20%;
  p,
  button {
    margin: 5px 0;
    padding: 5px;
    font-size: 1rem;
  }
  button {
    color: $turkeyBlue;
    border-bottom: 1px solid $turkeyBlue;

    &:hover {
      background-color: $turkeyBlue;
      color: #ffff;
    }
  }
}
.editor {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include webkitScroll;
  position: relative;
  line-height: normal;
  //isInTrash
  .isInTrash {
    z-index: 20;
    position: absolute;
    align-items: center;
    justify-items: center;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(235, 87, 87);
    color: #ffff;
    font-size: 14px;
    .isInTrash__btn-group {
      display: flex;
      justify-content: space-between;
    }
    button {
      color: #ffff;
      border: 1px solid #ffff;
      border-radius: 3px;
      padding: 5px;
      margin-left: 8px;
      font-size: 13px;
    }
  }
}
