@import "./block";
@import "./comment";
@import "./common";
@import "./reset";
#inner {
  .blockComponent,
  .contents,
  .contentEditable {
    color: inherit;
  }
}
//frame ----
.frame.stop {
  overflow-y: hidden;
}
.frame {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  z-index: inherit;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
.frame__inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  div,
  input,
  button {
    font-family: inherit;
  }
}
.page__header {
  width: 100%;
}
.page__header,
.page__contents {
  margin: 0 auto;
}
.page__header_notCover,
.page__contents {
  padding-left: calc(96px + env(safe-area-inset-left));
}
.page__header .page__title,
.editableBlock,
.page__header .comments {
  padding-right: calc(96px + env(safe-area-inset-left));
}
.subBlock-group .editableBlock {
  padding-right: 0;
}
.page__comments {
  margin-top: 1rem;
}
.page__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
  .page__header__cover {
    position: relative;
    width: 100%;
    height: 30vh;
    img {
      width: 100%;
      height: 100%;
    }
    .btn-change-cover {
      display: none;
    }
  }
  .page__header__cover.on {
    .btn-change-cover {
      font-size: 1rem;
      display: block;
      transition: display 1ms ease;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      z-index: 30;
      background-color: rgba(254, 254, 254, 0.712);
      border-radius: 10px;
      padding: 5px 10px;
      &:hover {
        transition: background-color 0.3s ease;
        background-color: rgba(189, 189, 189, 0.744);
      }
    }
  }
  .page__header_notCover {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  & > div {
    position: relative;
  }
  .page__icon-outBox {
    width: fit-content;
    height: fit-content;
    &.none {
      min-width: 100%;
      height: 20px;
    }
  }
  .page__icon.iconNull {
    display: none;
  }
  .deco div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: 24px;
    button {
      width: fit-content;
      height: 100%;
      margin-right: 5px;
      color: $mud;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 14px;
      svg {
        padding-right: 5px;
      }
    }
    span {
      font-size: 13px;
    }
  }
  .page__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 100ms ease-in 0s;
    opacity: 1;
    position: relative;
    pointer-events: auto;
    cursor: default;
    .pageStringIcon {
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 60px;
    }
  }
  .page__title {
    font-size: inherit;
    font-weight: bold;
    width: 100%;
    word-break: break-all;
  }
}
.page__firstBlock {
  position: relative;
}
.newPageFrame {
  color: $mud;
  span {
    color: $mud;
  }
}
.empty-page__btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 1rem;
  button {
    font-size: 1rem;
    display: block;
    margin: 10px;
    svg {
      color: $itemSvg;
      fill: $itemSvg;
      margin-right: 10px;
    }
  }
}
// --frame
.subFrame {
  width: 100vw;
}

#moveTargetBlock {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .frame {
    @include hiddenScrollBar;
  }
  .page__header {
    margin-bottom: 5px;
  }
  .page__header .page__header__cover {
    height: 100px;
  }
  .page__header_notCover,
  .page__contents {
    padding-left: 0;
  }
  .page__header .page__title,
  .editableBlock,
  .page__header .comments {
    padding-right: 2rem;
  }
  .editableBlock {
    margin-top: 14px;
  }
}
