@import "./common";
.menu {
  font-weight: initial;
  position: absolute;
  z-index: 10;
}
.mainMenu,
.menu__sideMenu {
  @include modalStyle;
  width: fit-content;
}
.modal {
  .commentInput {
    @include modalStyle;
    width: 350px;
    height: fit-content;
    box-sizing: border-box;
    flex-direction: row;
    font-size: 14px;
    padding: 10px 14px;
  }
}
.frame.mobile {
  .modal {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .commentInput {
      height: 100%;
      margin: 5px;
    }
  }
}
.mainMenu {
  @include modalStyle;
  width: 240px;
  max-height: inherit;
  overflow-y: scroll;
  .menu__inner {
    padding: 5% 0;
  }
  .menu__search {
    width: 100%;
    input {
      @include searchInput;
    }
  }
  .menu__editBtnGroup > button > div,
  .menu__edit__inform {
    width: 90%;
    margin: 3% 5%;
  }

  .menu__editBtnGroup .menu__editBtn {
    @include editMenuBtnGroup;
    &.off {
      display: none;
    }
    .underline {
      border-top: 1px solid $mud;
    }
    .arrow-down svg {
      transform: rotate(-90deg);
    }
  }
}

.menu__sideMenu {
  display: block;
  position: absolute;
  z-index: 20;
  overflow-y: "scroll";
  & > div {
    width: 250px;
  }
  .no-result {
    display: none;
  }
  .menu__color,
  #commandMenu {
    background-color: initial;
  }
  #commandMenu {
    margin-top: 0;
    overflow: initial;
    .btn-command {
      display: block;
    }
  }
}
.menu__color {
  @include modalStyle;
  width: 200px;
  color: initial;
  font-weight: initial;
  section > header {
    font : {
      size: 12px;
      weight: 600;
    }
    text-align: left;
    color: $mud;
  }
  section {
    padding: 3%;
  }
  section > header,
  .icon-color {
    margin: 0 5px;
  }
  .btn-color-inform {
    display: flex;
    font-size: 14px;
    padding: 5px 0;
    width: 100%;
    span {
      height: 22px;
      line-height: 22px;
    }
  }
  .icon-color {
    border: 1px solid $lightMud;
  }
  .color-name {
    margin-left: 5px;
  }
}
.menu__sideMenu #pageMenu {
  .inner {
    width: 100%;
    height: fit-content;
  }
}
#sideBarModal__menu {
  #pageMenu {
    background-color: #ffff;
  }
}
#pageMenu {
  @include modalStyle;
  background-color: initial;
  .inner {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .search {
    label {
      display: block;
      width: 100%;
    }
    input {
      @include searchInput;
      width: calc(100% - 10px);
      margin: 0 auto;
      font-size: 14px;
    }
  }
  .page-list {
    margin-top: 10px;
    .page-list__header {
      color: $itemText;
      font : {
        size: 12px;
        weight: 500;
      }
      margin: 10px 0;
    }
    .page-list__btn-group > div > div {
      display: flex;
      flex-direction: column;
    }
  }
  .btn-page {
    font-size: 14px;
    &__inner {
      display: flex;
      & > div {
        height: inherit;
      }
    }
  }
  .page__icon {
    margin-right: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .page__title {
    line-height: 1rem;
    text-align: center;
  }
  .new_sub_page {
    width: 100%;
    text-align: left;
    border-top: 1px solid $lightMud;
    padding-top: 10px;
    padding-left: 10px;
    &.on {
      svg,
      span {
        color: $black;
      }
    }
    svg {
      color: $itemText;
      font-weight: bolder;
      margin-right: 5px;
      &:hover {
        color: $black;
      }
    }
    span {
      color: $itemText;
      font-size: 14px;
      font-weight: 400;
      &:hover {
        color: $black;
      }
    }
  }
}

#moveTo_pageMenu {
  #page-list__header,
  .new_sub_page {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mainMenu,
  .menu__sideMenu {
    width: 200px;
  }
  .menu__sideMenu > div {
    width: 100%;
  }
  #sideBarModal__menu {
    transition: top ease 1s;
    .topBar {
      height: 60px;
      width: 100vw;
      padding: 10px 20px;
      box-sizing: border-box;
      background-color: #ffff;
      display: flex;
      justify-content: end;
      button {
        opacity: 0.5;
        &:hover {
          opacity: 1;
          font-weight: bold;
        }
      }
    }
  }
  #pageMenu {
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
    box-shadow: none;
    border-radius: 0%;
    .inner {
      padding: 0;
      height: 100%;
    }
    .page-list .page-list__header {
      margin: 16px 0;
    }
    .pageMenu__btn-container {
      height: 30px;
    }
    .pageMenu__btn-close {
      position: absolute;
      top: 0;
      right: 6%;
      height: inherit;
      text-align: center;
      color: $itemText;
      &:hover,
      &.on {
        color: $black;
      }
    }
    .new_sub_page {
      border: none;
      padding-top: 16px;
    }
  }
}
