@import "./common";
$width_320: calc(320px * 0.9);
#mobile-menu {
  @include modalStyle;
  position: relative;
  overflow-x: auto;
  width: fit-content;
  .inner {
    display: flex;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;

    font-size: 1rem;
    border-right: 1px solid rgb(212, 212, 212);
    .text {
      font-size: 14px;
      min-width: fit-content;
    }
    .mobileBlock__btn__inner {
      width: max-content;
      height: calc(100% - 10px);
      margin: 5px 0;
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  button:last-child {
    border-right: none;
    padding-right: 4px;
  }

  .arrow-down {
    color: grey;
    display: inline-flex;
    align-items: end;
    svg {
      height: fit-content;
    }
  }
}

@media screen and (max-width: 320px) {
  #mobile-menu {
    max-width: $width_320;
  }
}
