@import "./common";
$topHeight: 48px;

#mobile-side-menu {
  @include modalStyle;
  width: 100vw;
  position: relative;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  .inner {
    position: relative;
  }
  .top {
    height: $topHeight;
    background-color: #ffff;
    text-align: center;
    position: relative;
    & > div {
      height: 100%;
      line-height: $topHeight;
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
    }
    button {
      position: absolute;
      height: 100%;
      top: 0;
      right: 1rem;
      font-size: 1rem;
    }
  }
  .contents {
    width: inherit;
    height: calc(80vh - $topHeight);
  }
  .contents__inner {
    height: calc(100% - 15px);
    max-height: calc(100% - 15px);
  }
  #menu-command,
  #pageMenu,
  #menu-color,
  #loader-link {
    @include resetModalStyle;
    @include webkitScroll;
    overflow-y: auto;
    position: relative;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
  }
  #menu-color section > header {
    margin-bottom: 10px;
  }
  #menu-color .btn-color-inform {
    padding-top: 8px;
  }
}
