@import "./common";
#modal-root {
  .modal {
    display: none;
    &.on {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      & > .inner {
        position: relative;
      }
    }
    &.on.center {
      background-color: $modalBackGroundColor;

      display: flex;
      justify-content: center;
      align-items: center;
      & > .inner {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .modal__menu,
      .modal__menu > .inner {
        width: fit-content;
      }
    }
  }
}
#modal-block-quick-menu {
  z-index: 10;
}
#modal-sideBar,
#modal-frame {
  z-index: 20;
}

#modal-discardEdit,
#modal-mobile-side-menu {
  z-index: 100;
}
#modal-movingBlock {
  .editableBlock {
    width: 100vw;
    padding: 0;
  }
}
//modal-sideBar
#modal-mobile-side-menu,
#modal-template__menu {
  height: 100vh;
  width: 100vw;
  background-color: $modalBackGroundColor;
}
#modal-mobile-side-menu {
  .modal__menu {
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
#modal-top-bar {
  z-index: 10;
  & > .inner {
    width: 100vw;
    height: 100vh;
  }
}
#modal-top-bar__menu {
  width: max-content;
  transition: right 2500ms ease;
}
#modal-template {
  z-index: 30;
}
#modal-template__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .center .modal__menu {
    & > .inner {
      height: fit-content;
      width: fit-content;
    }
  }
  #modal-frame {
    .comment-input {
      @include modalStyle;
      flex-direction: row;
      width: max-content;
      height: max-content;
      padding: 12px 16px;
    }
  }
  #modal-sideBar {
    &.center {
      .modal__menu > .inner {
        @include resetModalStyle;
        height: fit-content;
      }
    }
    .modal__menu {
      transition: top ease 800ms;
      background-color: transparent;
      & > .inner {
        @include modalStyle;
        background-color: rgb(240, 240, 240);
        width: 100vw;
        height: 100vh;
        min-height: 10vh;
      }
    }
    #top-bar {
      height: 60px;
      width: 100vw;
      padding: 10px 20px;
      box-sizing: border-box;
      position: relative;
      .btn-close {
        position: absolute;
        top: calc(50% - 8px);
        right: 16px;
        opacity: 0.5;
        font-size: 16px;
        &:hover {
          opacity: 1;
          font-weight: bold;
        }
      }
    }
    .btn-resize {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-top: 20px;
      padding-bottom: 10px;
      background-color: transparent;
      div {
        width: 30%;
        height: 10px;
        border-radius: 20px;
        background-color: rgb(217, 215, 215);
        &:hover {
          background-color: rgb(194, 194, 194);
        }
      }
    }
    #rename,
    .sideBar__moreFn,
    #page-meu {
      @include resetModalStyle;
    }
    #page-meu {
      height: 100%;
      .inner {
        position: relative;
      }
      .new_sub_page {
        position: absolute;
        bottom: 60%;
      }
      input {
        background-color: #ffff;
      }
    }
    #rename {
      background-color: #fff;
      width: 90%;
      margin: 0 5%;
      border-radius: 10px;
    }
  }
  #modal-top-bar__menu {
    transition: top 2500ms ease;
    z-index: 50;
  }
}
