@import "./common";

#rename {
  @include modalStyle;
  display: flex;
  flex-direction: column;
  & > .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    padding: 10px;
    border: 10px;
    label,
    button,
    input {
      height: 2rem;
      box-sizing: border-box;
    }
    input,
    button {
      border: 1px solid $lightMud;
      border-radius: 1px;
      font-size: 15px;
      text-align: center;
      padding: 2px;
      box-sizing: inherit;
    }

    .rename__btn {
      width: 2rem;
      .page__icon {
        width: 90%;
        height: 90%;
        margin: auto auto;
      }
      border-right: none;
    }
    label {
      width: calc(100% - 2rem);
    }
    input {
      width: 100%;
    }
  }
}
