@import "./common";

@mixin headerStyle {
  color: $darkgrey;
  margin-left: 1rem;
  margin-bottom: 14px;
  font-size: 14px;
}
.sideBar-close,
.sideBar-float,
.sideBar-floatHide {
  .frame {
    z-index: 1;
    div,
    button {
      z-index: inherit;
    }
  }
  .sideBar {
    position: absolute;
    z-index: 10;
  }
  .btn-group {
    button {
      color: $darkgrey;
    }
  }
  .topBar__btn-sideBar {
    display: none;
  }
}
.sideBar-close {
  .sideBar {
    transform: translate(-(100%), 0);
  }
}
.sideBar-float,
.sideBar-floatHide {
  .sideBar {
    @include modalStyle;
    top: 45px;
    left: 0;
    background-color: #ffff;
    width: 230px;
    height: fit-content;
  }
}
.sideBar-floatHide {
  .sideBar {
    transform: translate(-250px, 0);
  }
}
.sideBar-lock {
  .sideBar {
    transform: translate(0, 0);
    flex-shrink: 0;
    flex-grow: 0;
  }
}
.sideBar {
  display: block;
  width: 250px;
  height: 100vh;
  background-color: $pistachioshell;
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .page__icon {
    width: 14px;
    height: 14px;
  }
  .item__inner,
  .subPage.no {
    span {
      color: $itemText;
      font-weight: 500;
    }
  }
  .item__inner,
  .pageList__item {
    display: flex;
    padding: 5px 14px;
    font-size: 16px;
    text-align: center;
    min-height: 27px;
    .record-icon,
    svg {
      margin-right: 8px;
    }
    svg {
      font : {
        size: 18px;
        weight: bolder;
      }
      color: $itemSvg;
      fill: $itemSvg;
    }
  }
  .list .pageList__item {
    justify-content: space-between;
    padding-right: 0;
    .pageList__item__page {
      display: flex;
      width: calc(100% - 32px);
      .pageName {
        width: calc(100% - 22px);
        height: 18px;
        & > div:last-child {
          height: inherit;
          width: calc(100% - 14px - 5px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: left;
        }
      }
    }
  }
  .pageList__item__btn-group {
    display: none;
    &.on {
      display: flex;
      align-content: center;
      button {
        width: fit-content;
        font-size: 12px;
        color: $itemSvg;
        fill: $itemSvg;
        svg {
          width: fit-content;
          margin-right: 0;
        }
      }
    }
  }
  //--topBar__btn-sideBar
  .topBar__btn-sideBar {
    color: $itemSvg;
    fill: $itemSvg;
    font-weight: bolder;
    font-size: 20px;
    svg {
      margin-right: 0;
    }
  }
  .openSideBarBtn {
    position: absolute;
    top: 10px;
    right: -10%;
  }
  //--topBar__btn-sideBar

  // -- switcher
  .switcher {
    .item__inner {
      justify-content: space-between;
      padding: 10px 14px;
      & > div {
        display: flex;
        align-items: center;
      }
    }
  }

  .record-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $mud;
    color: #ffff;
    border-radius: 3px;
    text-align: center;
    width: 18px;
    height: 18px;
    text-transform: uppercase;
    div {
      height: 12.5px;
      width: 12.5px;
      font-size: 12.5px;
    }
  }
  .user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .userEmail {
    display: none;
  }
  .userId {
    display: flex;
    align-items: center;
    height: 18px;
    div:first-child {
      font-weight: 500;
    }
    div:nth-child(2) {
      margin-top: -5px;
      transform: rotate(90deg);
      svg {
        margin-right: 0;
        color: $itemSvg;
        font-weight: bolder;
      }
    }
  }
  // ---switcher
  //recentPages
  .recentPages {
    display: none;
  }
  .mobile-btn-group {
    display: none;
  }
  // fn-group-1--
  .fn-group-1 {
    border-top: none;
    padding-bottom: 20px;
    .item__inner span {
      font-size: 14px;
      color: $darkgrey;
      font-weight: initial;
    }
  }
  // --fn-group-1
  .sideBar___inner__scroll,
  .recentPages {
    .header {
      margin-bottom: 10px;
      @include headerStyle;
    }
  }

  //sideBar__inner__list--
  .sideBar__inner__list {
    padding: 1rem 0;
    overflow: hidden auto;
    box-sizing: border-box;
    //scroll//
    @include webkitScroll;
    .favorites,
    .private {
      margin-bottom: 20px;
      .header {
        @include headerStyle;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      width: 100%;
    }
    li {
      padding: 0;
    }
    .list .page {
      width: 100%;
    }
    .subPage {
      display: none;
    }
    .subPage.on {
      display: block;
      margin: 5px 0;
      margin-left: 18px;
    }
    .item__inner {
      text-align: left;
      justify-content: space-between;
    }
    .pageItem {
      display: flex;
      justify-content: flex-start;
    }
    .btn-toggle {
      margin-right: 0.5rem;
      svg {
        margin-right: 0;
      }
    }
    .pageName {
      font-size: inherit;
      display: flex;
      align-items: center;
      span {
        display: flex;
        align-items: center;
      }
      svg {
        font-size: 13px;
        margin-right: 0;
      }
      .page__icon {
        margin-right: 5px;
      }
    }
    .subPage.no {
      margin-left: 36px;
      span {
        font-size: 14px;
        color: $darkgrey;
        font-weight: initial;
      }
    }
    .btn-addPage {
      width: 18px;
      height: 18px;
      svg {
        margin-right: 0;
        font-size: 1rem;
      }
    }
    .inside {
      display: none;
    }
    .inside.on {
      display: block;
    }
  }
  .private {
    .header {
      position: relative;
      button {
        position: absolute;
        top: 0;
        right: 1rem;
      }
      svg {
        color: $mud;
      }
    }
  }
  //--scroll
  .fn-group {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: $darkgrey;
    margin-top: 16px;
    .item__inner {
      justify-content: flex-start;
      svg,
      span {
        color: $darkgrey;
      }
    }
  }
  // addNewPageBtn --
  .addNewPageBtn {
    width: 100%;
    height: 45px;
    min-height: 27px;
    border-top: 1px solid $lightMud;
    &:hover {
      background-color: $itemHover;
    }
    button {
      color: $darkgrey;
      font : {
        size: 14px;
      }
      width: 100%;
      height: 100%;
      padding: 2px 14px;
      display: flex;
      align-items: center;
      svg {
        color: $itemSvg;
        fill: $itemSvg;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
        font : {
          size: 1rem;
          weight: bolder;
        }
      }
    }
  }
  //--addNewPage
}
.sideBar-float {
  .addNewPageBtn {
    margin-top: 16px;
  }
}
.sideBar__moreFn {
  .btn-resize {
    display: none;
  }
  button {
    padding: 3%;
    @include editMenuBtnGroup;
  }
  p {
    margin: 0;
    margin-left: 5px;
    padding: 3%;
    color: $itemText;
  }
  .page__inform {
    display: none;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .sideBar {
    display: flex;
    justify-content: center;
  }
  .sideBar__inner {
    width: 95%;
    margin: 0 auto;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .sideBar {
    background-color: rgb(240, 240, 240);
    width: 100vw;
    .item__inner {
      padding: 0.5rem 1rem;
      height: inherit;
    }
    .sideBar__inner {
      justify-content: initial;
      position: relative;
    }
    .sideBar__inner__list {
      box-sizing: border-box;
      .favorites,
      .private {
        .header {
          font-size: 1rem;
        }
      }
    }
    .switcher .item__inner,
    .sideBar__inner__list .header,
    .recentPages .header {
      font-size: 1rem;
    }
    .switcher {
      .item__inner {
        padding-top: 1rem;
      }
    }
    .user,
    .record-icon {
      height: 40px;
    }
    .record-icon {
      background-color: black;
      color: #ffff;
    }
    .pageList__item svg {
      font-size: 1rem;
      color: $darkgrey;
    }
    .userEmail {
      margin-top: 4px;
      font-size: 14px;
    }
    .record-icon {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        font-size: 1.8rem;
        width: fit-content;
        height: fit-content;
      }
    }
    .userEmail {
      display: block;
    }
    .item__inner {
      font-size: 1rem;
    }
    .private .header svg {
      color: $darkgrey;
    }
    .link-page:hover {
      background-color: rgba(222, 222, 222, 0.833);
    }

    .recentPages {
      display: block;
      margin: 10px 0;
      .header {
        margin-bottom: 1rem;
      }
      .list {
        padding: 0 1rem;
        width: 100%;
        overflow: hidden;
        & > div > div {
          display: flex;
        }
      }
      .item {
        @include modalStyle;
        box-shadow: rgba(15, 15, 15, 0.251) 0px 0px 4px inset;
        position: relative;
        height: 25vw;
        width: 25vw;
        min-width: 130px;
        height: 130px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-right: 14px;
        .cover {
          width: 100%;
          height: 50%;
        }
        .cover.none {
          background-color: rgb(224, 224, 224);
        }
        .page__icon {
          width: 20%;
          height: 20%;
          position: absolute;
          top: 40%;
          left: 10%;
        }
        .page__icon__img {
          border-radius: 50%;
        }
        .title {
          background-color: #fff;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding: 5px;
          padding-top: 15%;
          height: 50%;
          width: 100%;
          font: {
            size: 14px;
            weight: bolder;
          }
        }
      }
    }
    .fn-group,
    .addNewPageBtn {
      display: none;
    }

    .mobile-btn-group {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 10px;
      width: 100%;
      .fn-group,
      .addNewPageBtn {
        display: flex;
        padding-bottom: 0;
        margin: 0;
        button {
          opacity: 0.8;
          &:hover {
            opacity: 1;
          }
        }
      }
      .fn-group {
        .item__inner {
          font-size: 15px;
        }
      }
      .addNewPageBtn {
        margin-top: 14px;
      }
    }
  }

  .sideBar__moreFn {
    width: inherit;
    .edit__inform {
      display: none;
    }
    .page__inform {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 10px 1rem;
      .page__icon {
        height: 2.2rem;
        width: 2.2rem;
      }
      .page__icon__img {
        border-radius: 10px;
        display: flex;
        flex-direction: row;
      }
      .page__title {
        margin-left: 1rem;
        font-size: 1.2rem;
        text-align: center;
      }
    }
    button {
      padding: 0;
      margin: 10px 1rem;
    }
    button > div {
      width: calc(100% - 2rem);
      padding: 5px;
      background-color: #fff;
      border-radius: 10px;
    }
    .btn-delete {
      color: red;
    }
  }
}
