@import "./common";

#templates,
.template__alert {
  // @include modal;
}
#templates .templates__inner,
.template__alert .template__alert__inner {
  top: 0;
  left: 0;
  width: 85vw;
  height: 85vh;
  display: flex;
  max-width: none;
  max-height: none;
}
#template.expand {
  width: 100%;
}
#template {
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  .template__topBar {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    .page__icon {
      margin-left: 5px;
      width: 18px;
      height: 18px;
      .page__icon__img {
        width: 100%;
        height: 100%;
      }
    }
    .page__title {
      height: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 30px);
      text-align: center;
      padding-left: 5px;
    }
  }

  .template__inform {
    display: flex;
    width: calc(100% - 48px);
  }

  .template__tool {
    width: 48px;
    height: 18px;
    button {
      position: relative;
      width: 1rem;
      font : {
        size: 18px;
        weight: bolder;
      }
      margin-right: 8px;
      color: $mud;
      &:hover {
        color: $black;
      }
    }
    .bubble {
      display: none;
    }
    button:hover {
      .bubble {
        display: block;
        position: absolute;
        top: 105%;
        right: 0;
        font-size: 12px;
        font-weight: normal;
        background-color: $itemHover;
        padding: 4px;
      }
      .bubble:first-child {
        width: 200px;
      }
      .bubble:last-child {
        width: 150px;
      }
    }
  }
  .frame {
    height: calc(100% - 48px);
    width: 100%;
  }
  .noTemplate {
    font-size: 2rem;
  }
}
#template__side {
  width: 240px;
  background-color: rgb(251, 251, 250);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  .template__side__btn-use {
    user-select: none;
    transition: background-color 20ms ease-in 0s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 32px;
    border-radius: 3px;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset,
      rgb(15 15 15 / 10%) 0px 1px 2px;
    background-color: $turkeyBlue;
    color: #ffff;
    fill: #ffff;
    padding: 0 12px;
    font : {
      size: 14px;
      weight: bold;
    }
    position: relative;
    margin: 16px 20px;

    &:hover {
      background-color: rgb(6, 156, 205);
    }
  }
  .template__side__list {
    flex-shrink: 1;
    flex-grow: 1;
    padding-bottom: 44px;
    overflow: hidden auto;
    margin : {
      right: 0px;
      bottom: 0px;
    }
    .item {
      width: 100%;
      display: flex;
      align-items: center;
      font : {
        size: 14px;
        weight: 500;
      }
      min-height: 27px;
      padding: 2px 10px 2px 30px;
      margin: 1px 0;
      &:hover {
        background-color: #edece9;
      }
    }
    .page__icon-outBox {
      width: 22px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .page__icon {
      width: 14px;
      height: 14px;
      margin-right: 10px;
    }
    .page__title {
      font-size: 14px;
      flex: 1 1 auto;
      white-space: nowrap;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      color: rgba(55, 53, 47, 0.65);
    }
  }
  .template__side__btn-make {
    height: 48px;
    border-top: 1px solid $mud;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mud;
    font : {
      size: 14px;
      weight: bold;
    }
    svg {
      margin-right: 8px;
      font : {
        size: 1rem;
      }
    }
    &:hover {
      color: $darkgrey;
    }
  }
  .noTemplate {
    font-size: 1rem;
  }
}
#template__side.off {
  display: none;
}
.noTemplate {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mud;
}
.template__alert {
  z-index: 20;
  .inner {
    width: 380px;
    height: 200px;
    padding: 24px 32px;
    font-size: 1rem;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div,
    button {
      width: 100%;
    }
    div {
      margin-bottom: 8px;
      text-align: center;
      line-height: 1.5;
    }
    button {
      height: 2rem;
      font-size: 14px;
      white-space: nowrap;
      padding: 0 12px;
      line-height: 1.2;
      border: 1px solid rgba(55, 53, 47, 0.16);
      margin-top: 8px;
    }
  }
  .btn-save:hover,
  .alert__btn-delete:hover {
    background-color: rgb(225, 225, 225);
  }
  .btn-discard,
  .alert__btn-cancel {
    color: rgb(235, 87, 87);
    border: 1px solid rgba(235, 87, 87, 0.5);
    &:hover {
      background-color: rgba(235, 87, 87, 0.1);
    }
  }
}
