@import "./common";

#templates {
  @include modalStyle;
  position: relative;
  margin: auto;
  width: 85vw;
  height: 85vh;
  max-width: none;
  max-height: none;
  .templates__inner {
    display: flex;
    width: inherit;
    height: inherit;
  }
}

#template.expand {
  width: 100%;
}
#template {
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  .template__topBar {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    .page__icon {
      margin-left: 5px;
      width: 18px;
      height: 18px;
      .page__icon__img {
        width: 100%;
        height: 100%;
      }
    }
    .page__title {
      height: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 30px);
      text-align: center;
      padding-left: 5px;
    }
  }

  .template__inform {
    display: flex;
    width: calc(100% - 48px);
  }

  .template__tool {
    width: 48px;
    height: 18px;
    button {
      position: relative;
      width: 1rem;
      font : {
        size: 18px;
        weight: bolder;
      }
      margin-right: 8px;
      color: $mud;
      &:hover {
        color: $black;
      }
    }
    .bubble {
      display: none;
    }
    button:hover {
      .bubble {
        display: block;
        position: absolute;
        top: 105%;
        right: 0;
        font-size: 12px;
        font-weight: normal;
        background-color: $itemHover;
        padding: 4px;
      }
      .bubble:first-child {
        width: 200px;
      }
      .bubble:last-child {
        width: 150px;
      }
    }
  }
  .frame {
    height: calc(100% - 48px);
    width: 100%;
  }
  .noTemplate {
    font-size: 2rem;
  }
}
#templates__side {
  width: 240px;
  background-color: rgb(251, 251, 250);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  .templates__btn-use-template {
    user-select: none;
    transition: background-color 20ms ease-in 0s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 32px;
    border-radius: 3px;
    box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px inset,
      rgb(15 15 15 / 10%) 0px 1px 2px;
    background-color: $turkeyBlue;
    color: #ffff;
    fill: #ffff;
    padding: 0 12px;
    font : {
      size: 14px;
      weight: bold;
    }
    position: relative;
    margin: 16px 20px;

    &:hover {
      background-color: rgb(6, 156, 205);
    }
  }
  .templates__side__list {
    flex-shrink: 1;
    flex-grow: 1;
    padding-bottom: 44px;
    overflow: hidden auto;
    margin : {
      right: 0px;
      bottom: 0px;
    }
    .item {
      width: 100%;
      display: flex;
      align-items: center;
      font : {
        size: 14px;
        weight: 500;
      }
      min-height: 27px;
      padding: 2px 10px 2px 30px;
      margin: 1px 0;
      &:hover {
        background-color: #edece9;
      }
    }
    .page__icon-outBox {
      width: 22px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .page__icon {
      width: 14px;
      height: 14px;
      margin-right: 10px;
    }
    .page__title {
      font-size: 14px;
      flex: 1 1 auto;
      white-space: nowrap;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      color: rgba(55, 53, 47, 0.65);
    }
  }
  .templates__btn-make {
    height: 48px;
    border-top: 1px solid $mud;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mud;
    font : {
      size: 14px;
      weight: bold;
    }
    svg {
      margin-right: 8px;
      font : {
        size: 1rem;
      }
    }
    &:hover {
      color: $darkgrey;
    }
  }
  .noTemplate {
    font-size: 1rem;
  }
}
#templates__side.off {
  display: none;
}
.noTemplate {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mud;
}
#template-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: $modalBackGroundColor;
  z-index: 20;
  .template-alert__inner {
    @include modalStyle;
    width: 380px;
    height: 200px;
    padding: 24px 32px;
    font-size: 1rem;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div,
    button {
      width: 100%;
    }
    div {
      margin-bottom: 8px;
      text-align: center;
      line-height: 1.5;
    }
    button {
      height: 2rem;
      font-size: 14px;
      white-space: nowrap;
      padding: 0 12px;
      line-height: 1.2;
      border: 1px solid rgba(55, 53, 47, 0.16);
      margin-top: 8px;
    }
  }
  .btn-save:hover,
  .alert__btn-delete:hover {
    background-color: rgb(225, 225, 225);
  }
  .btn-discard,
  .alert__btn-cancel {
    color: rgb(235, 87, 87);
    border: 1px solid rgba(235, 87, 87, 0.5);
    &:hover {
      background-color: rgba(235, 87, 87, 0.1);
    }
  }
}

@media screen and (max-width: 768px) {
  #templates {
    @include resetModalStyle;
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
    .templates__top-bar {
      width: inherit;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 24px;
      border-bottom: 1px solid $mud;
      &.on {
        background-color: rgb(240, 240, 240);
        border-bottom: none;
        .templates__btn {
          font-size: 24px;
          font-weight: bolder;
        }
      }
      .templates__btn {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
      .templates__btn-close {
        position: absolute;
        left: 16px;
      }
      .templates__btn-make,
      .templates__btn-use-template {
        position: absolute;
        right: 16px;
      }
    }
    .templates__inner {
      display: block;
      width: inherit;
      height: calc(100vh - 50px);
    }
  }

  #template,
  #templates__side {
    height: inherit;
    width: 100vw;
    background-color: #ffff;
  }
  #templates__side {
    position: relative;
    .templates__btn-use-template,
    .templates__btn-make {
      display: none;
    }
    .templates__side__list {
      flex-grow: inherit;
      flex-shrink: initial;
      background-color: rgb(240, 240, 240);
      height: inherit;
      .item {
        border-bottom: 1px solid $mud;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
  #template-alert {
    top: 0;
    left: 0;
    .template-alert__inner {
      padding: 10px;
    }
    .template-alert__inner,
    .template-alert__inner button {
      font-size: 14px;
    }
  }
}
