@import "./common";

#top-bar {
  width: 100%;
  height: 45px;
  padding: {
    left: 12px;
    right: 16px;
  }
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: rgb(55, 53, 47);
  z-index: 5;
  & > div {
    width: 50%;
  }
  svg {
    color: inherit;
    font-size: 1rem;
  }
}
#top-bar__left {
  display: flex;
  align-items: center;
}
.page__path-group,
#top-bar__tool {
  display: flex;
  height: 100%;
  color: inherit;
}
.page__path-group {
  flex-grow: 1;
  flex-shrink: 1;
}
#top-bar__tool,
#top-bar__btn-change-side-bar {
  flex-grow: 0;
  flex-shrink: 0;
}
#top-bar__btn-change-side-bar,
.page__path-group {
  display: flex;
  align-items: center;
}
#top-bar__btn-change-side-bar {
  margin-right: 5px;
  padding: 10px;
}
.page__path-group {
  display: flex;
  width: calc(100% - (1rem + 16px));
  a {
    text-align: center;
  }
  span {
    margin-right: 5px;
  }
}
.page-path {
  width: fit-content;
  font-size: 14px;
  display: flex;
  margin-right: 3px;
  .page__icon {
    width: 14px;
    height: 14px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.path-slash {
  margin-right: 3px;
}
.link-page {
  width: 100%;
  display: flex;
}

.icon-path {
  width: 14px;
  height: 14px;
  text-align: center;
}
.path-title {
  width: fit-content;
  height: 14px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  div {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
}
#top-bar__tool {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  & > button {
    margin-left: 10px;
  }
  & > button:first-child {
    margin-left: 0;
  }
  #page-meu {
    position: absolute;
    top: 100%;
    right: 0;
  }
}
#top-bar__tool-more {
  @include modalStyle;
  position: relative;
  max-width: 200px;

  .inner > div {
    padding: 10px;
    padding-top: 0;
  }
  .inner .fontStyle {
    padding-top: 10px;
  }
  .fontStyle__header {
    color: $itemText;
    font-size: 12px;
  }
  .fontStyle__btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    button {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      user-select: none;
      transition: color 300ms ease 0s, border 300ms ease 0s;
      cursor: pointer;
      min-width: 34px;
      padding: 10px 6px 6px;
      border-radius: 3px;
      line-height: 1;

      &:hover {
        background-color: $itemHover;
      }
    }
    .font-sample {
      font-size: 24px;
      position: relative;
      top: -2px;
      height: 24px;
    }
    .font-sample.on {
      color: $turkeyBlue;
    }
    .font-name {
      font-size: 12px;
      line-height: 16px;
      color: $itemText;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 4px;
    }
  }
  .size {
    display: flex;
    flex-direction: column;

    button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    button:first-child {
      padding-bottom: 10px;
    }
  }
  .function {
    display: flex;
    flex-direction: column;
    button {
      display: flex;
      padding-top: 10px;
      svg {
        margin-right: 10px;
      }
      .label {
        text-align: left;
        min-width: fit-content;
      }
      div {
        display: flex;
        flex-direction: column;
        span:last-child {
          font-size: 12px;
          color: $itemText;
        }
      }
    }
  }
}
#page-meu {
  #new_sub_page {
    display: none;
  }
}

#top-bar__tool {
  width: 180px;
  button {
    color: inherit;
    font-size: 14px;
  }

  .btn-favorite.on {
    svg {
      fill: rgb(246, 192, 80);
    }
  }
}

@media screen and (max-width: 768px) {
  .path-title {
    min-width: 0;
  }
}
